<% errorMessages.forEach(function(e){ %>
<div class="alert alert-danger alert-dismissible" role="alert">
    console.log(e);
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= e %>
</div>
<% });%>

<% successMessages.forEach(function(e){ %>
<div class="alert alert-success alert-dismissible" role="alert">
    console.log(e);
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= e %>
</div>
<% });%>



<!--<div class="alert alert-error">-->
<!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--<%= e %>-->
<!--</div>-->
<% });%>

<!--<div class="alert alert-success">-->
    <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
    <!--<%= e %>-->
  <!--</div>-->
<% });%>