/**
* Created by Rizwan on 10/18/14.
*/
<!--<div id="header">-->
    <nav class="navbar navbar-default text-center navbar-fixed-top " role="navigation" title="Active Job Finder">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--<a class="navbar-brand" href="#" data-toggle="tooltip" title="Active Job Finder">Active Job Finder</a>-->
                <!--<img src="/images/images.png" class="navbar-brand"  href="#" width="70px" height="200px">-->
                <a class="navbar-brand" href="/">
                    <img src="/images/images.png"  style="margin-top: -20px; margin-left: 20px" width="50px" height="auto" class="img-responsive">
                </a>


            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: void(0)">Active Job Finder</a>
                    </li>
                    <li class="active">
                        <a href="/underconstruction">HOME</a>
                    </li>
                    <li>
                        <a href="/underconstruction">PROMOTION</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/register">Register</a>
                    </li>
                    <li>
                        <a href="/underconstruction">Log In</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
<!--</div>-->