<!DOCTYPE html>
<html lang="en">
  <head>

      <title>Active Job Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


      <!-- Bootstrap core JavaScript
      ================================================== -->

      <script src="/js/jquery-1.11.1.min.js"></script>

      <link rel="stylesheet" href="/build/css/intlTelInput.css">

      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
      <link rel="stylesheet" href="/js/select2.css"/>

      <script src="/js/jquery.validate.js"></script>
      <script src="/js/select2.js"></script>
      <script src="/js/bootstrap.min.js"></script>

      <link rel="stylesheet" href="/css/custom.css" />

      <!--Others-->
      <script src="/build/js/intlTelInput.min.js"></script>

      <style type="text/css">
          h2{
              margin: 0;
              color: #666;
              padding-top: 90px;
              font-size: 52px;
              font-family: "trebuchet ms", sans-serif;
          }
      </style>
  </head>

  <body>
  <% include navigation_cms.ejs %>


  <div class="container" align="center" style="margin-top: 100px;  margin-bottom: 70px" >
      <div class="">
          <% include alert_messages.ejs %>
          <%- body -%>
      </div>
  </div>

    <% include footer.ejs %>

  </body>

</html>