<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge" >-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/images/images.png">
    <title>Active Job Finder</title>


    <!-- Bootstrap core JavaScript
    ================================================== -->

    <script src="/js/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="/build/css/intlTelInput.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/jasnybootstrap.css" />
    <link rel="stylesheet" href="/js/select2.css"/>
    <link rel="stylesheet" href="/css/jquery.validate.password.css" />

    <!--<link rel="stylesheet" href="/css/custom.css" />-->

    <script src="/js/jquery.validate.js"></script>
    <script src="/js/select2.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!--Others-->
    <script src="/build/js/intlTelInput.min.js"></script>
    <!--Jasny Bootstrap for File Upload-->
    <script src="/js/jasnybootstrap.js"></script>
    <!--Password validate-->
    <!--<script src="/js/jquery.validate.password.js"></script>-->


</head>

<body>
<div class="container"></div>
<% include header.ejs %>


<div class="container-fluid" style="margin-top: 50px;margin-bottom: 70px" >

    <div class="container">

        <% include alert_messages.ejs %>

    <%- body -%>
    </div>
</div>

<% include footer.ejs %>

</body>
</html>