<div class="navbar navbar-fixed-top">


    <div class="navbar-inner">
        <div class="container" >
             <a class="brand" href="/"  >
                <img src="/images/logo.png" alt="Active Job Finder"
                                            width="40px" height="30px"/>
             </a>

            <!--<ul class="nav nav-pills navbar-inner navbar">-->
            <ul class="nav nav-pills">

                <!--<li><a class="brand" href="/"><img class="displayed" src="/images/images.png" alt="Active Job Finder"-->
                                                   <!--width="40px" height="50px"/></a></li>-->
                <li class="active"><a class="active" href="/">Home</a>
                    <!--<li class="active"><a class="active" href="/">User Type :  <% if(userIsAuthenticated && user.type == 1){ %> <%= user.type %> <% }else{ %>NULL<% } %></a>-->

                    <% if(userIsAuthenticated && user.type == 1){ %>

                <li class="dropdown pull-left" >
                    <a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Master Data<b
                                class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">


                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Companies</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/companies/register/1">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/companies">List</a></li>
                            </ul>
                        </li>


                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Currencies</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/currencies/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/currencies">List</a></li>
                            </ul>
                        </li>


                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Countries</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/countries/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/countries">List</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Regions</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/regions/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/regions">List</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Cities</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/cities/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/cities">List</a></li>
                            </ul>
                        </li>

                        <li class="divider"></li>

                        <li class="dropdown-submenu">
                            <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Users</a>-->
                            <a tabindex="-1" href="#">Users</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/users/new">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/users">List</a></li>
                            </ul>
                        </li>

                        <!--Commented for Temporary basis-->

                        <!--<li class="divider"></li>-->

                        <!--<li class="dropdown-submenu">-->
                        <!--<a tabindex="-1" href="#">Businesses -->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li><a tabindex="-1" href="/activejobfinder/web/businesses/register">New</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a tabindex="-1" href="/activejobfinder/web/businesses">List</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Job Bands</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/jobbands/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/jobbands">List</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Job Types</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/jobtypes/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/jobtypes">List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Job Sectors</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/jobsectors/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/jobsectors">List</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>
                <!--<li style="text-align: right"><a style="text-align: right" tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>-->
                <li><a tabindex="-1" href="/activejobfinder/web/users/logout">Logout</a></li>

                <% } else if (userIsAuthenticated && user.type == 3){ %>

                <li class="dropdown pull-left">
                    <a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Advertisements<b
                                class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" href="#">New</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">List</a></li>
                    </ul>
                </li>

                <li class="dropdown pull-left">
                    <a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Jobs<b
                                class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" href="#">New</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">List</a></li>
                    </ul>
                </li>


                <li><a tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>
                <li><a tabindex="-1" href="/activejobfinder/web/users/logout">Logout</a></li>

                <% } else { %>

                <!--<li class="dropdown pull-left">-->
                    <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Registration<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/companies/register/0">Company</a>-->
                        <!--</li>-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/blogger/register">Blogger</a>-->
                        <!--</li>-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/users/register">User</a></li>-->

                    <!--</ul>-->
                <!--</li>-->

                <li><a tabindex="-1" href="#" >Promotion</a></li>

                <% } %>

            </ul>
        </div>
    </div>
</div>