<style>

    .dropdown-submenu {
        position:relative;
    }
    .dropdown-submenu>.dropdown-menu {
        top:0;
        left:100%;
        margin-top:-6px;
        margin-left:-1px;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;
    }
    .dropdown-submenu:hover>.dropdown-menu {
        display:block;
    }
    .dropdown-submenu>a:after {
        display:block;
        content:" ";
        float:right;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:5px 0 5px 5px;
        border-left-color:#cccccc;
        margin-top:5px;
        margin-right:-10px;
    }
    .dropdown-submenu:hover>a:after {
        border-left-color:#ffffff;
    }
    .dropdown-submenu.pull-left {
        float:none;
    }
    .dropdown-submenu.pull-left>.dropdown-menu {
        left:-100%;
        margin-left:10px;
        -webkit-border-radius:6px 0 6px 6px;
        -moz-border-radius:6px 0 6px 6px;
        border-radius:6px 0 6px 6px;
    }
</style>

<nav class="navbar navbar-default text-center navbar-fixed-top " role="navigation" title="Active Job Finder">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--<a class="navbar-brand" href="#" data-toggle="tooltip" title="Active Job Finder">Active Job Finder</a>-->
            <!--<img src="/images/images.png" class="navbar-brand"  href="#" width="70px" height="200px">-->


            <a class="navbar-brand" href="/">
                <img src="/images/images.png"  style="margin-top: -20px; margin-left: 20px" width="50px" height="auto" class="img-responsive">
            </a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript: void(0)">Active Job Finder</a>
                </li>
                <li class="active">
                    <a href="/">HOME</a>
                </li>


                <% if(userIsAuthenticated && user.type == 1){ %>


                <li class="menu-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Master Data<b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1"  href="javascript: void(0)">Companies</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/companies/register/1">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/companies">List</a></li>
                            </ul>
                        </li>


                        <li class="divider"></li>
                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1" href="#">Currencies</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/currencies/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/currencies">List</a></li>
                            </ul>
                        </li>


                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1" href="#">Countries</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/countries/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/countries">List</a></li>
                            </ul>
                        </li>

                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1" href="#">Regions</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/regions/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/regions">List</a></li>
                            </ul>
                        </li>

                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1" href="#">Cities</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/cities/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/cities">List</a></li>
                            </ul>
                        </li>

                        <li class="divider"></li>

                        <li class="menu-item dropdown dropdown-submenu">
                            <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Users</a>-->
                            <a tabindex="-1" href="#">Users</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/users/new">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/users">List</a></li>
                            </ul>
                        </li>

                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1" href="#">Job Bands</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/jobbands/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/jobbands">List</a></li>
                            </ul>
                        </li>

                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1" href="#">Job Types</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/jobtypes/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/jobtypes">List</a></li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1" href="#">Job Sectors</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/jobsectors/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/jobsectors">List</a></li>
                            </ul>
                        </li>


                    </ul>
                </li>



                <li>
                    <a tabindex="-1" href="/activejobfinder/web/queries">Queries</a>
                </li>

                <li><a tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>
                <!--<li style="text-align: right"><a style="text-align: right" tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>-->
                <li><a tabindex="-1" href="/activejobfinder/web/users/logout">Logout</a></li>

                <% } else if (userIsAuthenticated && user.type == 3){ %>

                <li class="dropdown pull-left">
                    <a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Advertisements<b
                                class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" href="#">New</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">List</a></li>
                    </ul>
                </li>

                <!--<li class="dropdown pull-left">-->
                    <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Jobs<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">-->
                        <!--<li><a tabindex="-1" href="#">New</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a tabindex="-1" href="#">List</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <li class="menu-item dropdown">
                    <a  href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Jobs<b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1" href="javascript: void(0)">Job Details</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/jobs/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/jobs">List</a></li>
                            </ul>
                        </li>


                        <li class="menu-item dropdown dropdown-submenu">
                            <a tabindex="-1"  href="javascript: void(0)">Job Post</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/activejobfinder/web/jobposts/register">New</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/activejobfinder/web/jobposts">List</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>


                <li><a tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>
                <li><a tabindex="-1" href="/activejobfinder/web/users/logout">Logout</a></li>

                <% } else { %>

                <!--<li class="dropdown pull-left">-->
                    <!--<a tabindex="-1"  href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">Registration<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/companies/register/0">Company</a>-->
                        <!--</li>-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/blogger/register">Blogger</a>-->
                        <!--</li>-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/users/register">User</a></li>-->

                    <!--</ul>-->
                <!--</li>-->

                <% } %>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li>-->
                    <!--<a href="/register">Register</a>-->
                <!--</li>-->
                <li>
                    <a href="/activejobfinder/web/users/login">Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!--<div class="navbar navbar-default navbar-fixed-top" role="navigation">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="menu-item dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Drop Down<b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li class="menu-item dropdown dropdown-submenu">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 1</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li class="menu-item ">-->
                                    <!--<a href="#">Link 1</a>-->
                                <!--</li>-->
                                <!--<li class="menu-item dropdown dropdown-submenu">-->
                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2</a>-->
                                    <!--<ul class="dropdown-menu">-->
                                        <!--<li>-->
                                            <!--<a href="#">Link 3</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<nav class="navbar navbar-default text-center navbar-fixed-top " role="navigation" title="Active Job Finder">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->

            <!--<!--<a class="navbar-brand" href="#" data-toggle="tooltip" title="Active Job Finder">Active Job Finder</a>-->-->
            <!--<!--<img src="/images/images.png" class="navbar-brand"  href="#" width="70px" height="200px">-->-->
            <!--<a class="navbar-brand" href="/">-->
                <!--<img src="/images/images.png"  style="margin-top: -20px" width="50px" height="auto" class="img-responsive">-->
            <!--</a>-->

        <!--</div>-->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li>-->
                    <!--<a href="/">Active Job Finder</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<a href="/">HOME</a>-->
                <!--</li>-->


                <!--<% if(userIsAuthenticated && user.type == 1){ %>-->

                <!--<li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About The Tests <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Clearing Floats</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li class="menu-item "><a href="#">Page with comments</a></li>-->
                                <!--<li class="menu-item "><a href="#">Page with comments disabled</a></li>-->
                                <!--<li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">More</a>-->
                                    <!--<ul class="dropdown-menu"><li><a href="#">3rd level link more options</a></li><li><a href="#">3rd level link</a></li></ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li class="dropdown pull-left" style="position:relative">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Master Data<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<a class="trigger right-caret">Companies</a>-->
                            <!--<ul class="dropdown-menu sub-menu">-->
                                <!--<li><a href="/activejobfinder/web/companies/register/1">New</a></li>-->
                                <!--<li><a href="/activejobfinder/web/companies">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                        <!--<li class="divider"></li>-->
                        <!--<li>-->
                            <!--<a class="trigger right-caret">Currencies</a>-->
                            <!--<ul class="dropdown-menu sub-menu">-->
                                <!--<li><a href="/activejobfinder/web/currencies/register">New</a></li>-->
                                <!--<li><a href="/activejobfinder/web/currencies">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a class="trigger right-caret">Countries</a>-->
                            <!--<ul class="dropdown-menu sub-menu">-->
                                <!--<li><a href="/activejobfinder/web/countries/register">New</a></li>-->
                                <!--<li><a href="/activejobfinder/web/countries">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a class="trigger right-caret">Regions</a>-->
                            <!--<ul class="dropdown-menu sub-menu">-->
                                <!--<li><a href="/activejobfinder/web/regions/register">New</a></li>-->
                                <!--<li><a href="/activejobfinder/web/regions">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a class="trigger right-caret">Cities</a>-->
                            <!--<ul class="dropdown-menu sub-menu">-->
                                <!--<li><a href="/activejobfinder/web/cities/register">New</a></li>-->
                                <!--<li><a href="/activejobfinder/web/cities">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->

                        <!--<li>-->
                            <!--<a class="trigger right-caret">Users</a>-->
                            <!--<ul class="dropdown-menu sub-menu">-->
                                <!--<li><a href="/activejobfinder/web/users/register">New</a></li>-->
                                <!--<li><a href="/activejobfinder/web/users">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</li>-->



                <!--<li><a tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>-->
                <!--<!--<li style="text-align: right"><a style="text-align: right" tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>-->-->
                <!--<li><a tabindex="-1" href="/activejobfinder/web/users/logout">Logout</a></li>-->

                <!--<% } else if (userIsAuthenticated && user.type == 3){ %>-->

                <!--<li class="dropdown pull-left">-->
                    <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Advertisements<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">-->
                        <!--<li><a tabindex="-1" href="#">New</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a tabindex="-1" href="#">List</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li class="dropdown pull-left">-->
                    <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Jobs<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">-->
                        <!--<li><a tabindex="-1" href="#">New</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a tabindex="-1" href="#">List</a></li>-->
                    <!--</ul>-->
                <!--</li>-->


                <!--<li><a tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>-->
                <!--<li><a tabindex="-1" href="/activejobfinder/web/users/logout">Logout</a></li>-->

                <!--<% } else { %>-->

                <!--<li class="dropdown pull-left">-->
                    <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Registration<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/companies/register/0">Company</a>-->
                        <!--</li>-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/blogger/register">Blogger</a>-->
                        <!--</li>-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/users/register">User</a></li>-->

                    <!--</ul>-->
                <!--</li>-->

                <!--<% } %>-->

            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li>-->
                    <!--<a href="/underconstruction">Register</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/register">Login</a>-->
                <!--</li>-->

            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->




<!--<div class="navbar navbar-fixed-top">-->

    <!--<div class="navbar-inner">-->
        <!--<div class="container" >-->
             <!--<a class="brand" href="/">-->
                <!--<img src="/images/images.png" alt="Active Job Finder"-->
                                            <!--width="40px" height="30px"/>-->
             <!--</a>-->

            <!--<!--<ul class="nav nav-pills navbar-inner navbar">-->-->
            <!--<ul class="nav nav-pills">-->

                <!--<!--<li><a class="brand" href="/"><img class="displayed" src="/images/images.png" alt="Active Job Finder"-->-->
                                                   <!--<!--width="40px" height="50px"/></a></li>-->-->
                <!--<li class="active"><a class="active" href="/">Home</a>-->
                    <!--<!--<li class="active"><a class="active" href="/">User Type :  <% if(userIsAuthenticated && user.type == 1){ %> <%= user.type %> <% }else{ %>NULL<% } %></a>-->-->

                    <!--<% if(userIsAuthenticated && user.type == 1){ %>-->

                <!--<li class="dropdown pull-left" >-->
                    <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Master Data<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">-->


                        <!--<li class="dropdown-submenu">-->
                            <!--<a tabindex="-1" href="#">Companies</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/companies/register/1">New</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/companies">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->


                        <!--<li class="divider"></li>-->
                        <!--<li class="dropdown-submenu">-->
                            <!--<a tabindex="-1" href="#">Currencies</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/currencies/register">New</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/currencies">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->


                        <!--<li class="dropdown-submenu">-->
                            <!--<a tabindex="-1" href="#">Countries</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/countries/register">New</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/countries">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                        <!--<li class="dropdown-submenu">-->
                            <!--<a tabindex="-1" href="#">Regions</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/regions/register">New</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/regions">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                        <!--<li class="dropdown-submenu">-->
                            <!--<a tabindex="-1" href="#">Cities</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/cities/register">New</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/cities">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                        <!--<li class="divider"></li>-->

                        <!--<li class="dropdown-submenu">-->
                            <!--<!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Users</a>-->-->
                            <!--<a tabindex="-1" href="#">Users</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/users/new">New</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/users">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                        <!--<!--Commented for Temporary basis-->-->

                        <!--<!--<li class="divider"></li>-->-->

                        <!--<!--<li class="dropdown-submenu">-->-->
                        <!--<!--<a tabindex="-1" href="#">Businesses -->-->
                        <!--<!--<ul class="dropdown-menu">-->-->
                        <!--<!--<li><a tabindex="-1" href="/activejobfinder/web/businesses/register">New</a></li>-->-->
                        <!--<!--<li class="divider"></li>-->-->
                        <!--<!--<li><a tabindex="-1" href="/activejobfinder/web/businesses">List</a></li>-->-->
                        <!--<!--</ul>-->-->
                        <!--<!--</li>-->-->

                        <!--<li class="dropdown-submenu">-->
                            <!--<a tabindex="-1" href="#">Job Bands</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/jobbands/register">New</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/jobbands">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                        <!--<li class="dropdown-submenu">-->
                            <!--<a tabindex="-1" href="#">Job Types</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/jobtypes/register">New</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/jobtypes">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu">-->
                            <!--<a tabindex="-1" href="#">Job Sectors</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/jobsectors/register">New</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a tabindex="-1" href="/activejobfinder/web/jobsectors">List</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li><a tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>-->
                <!--<!--<li style="text-align: right"><a style="text-align: right" tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>-->-->
                <!--<li><a tabindex="-1" href="/activejobfinder/web/users/logout">Logout</a></li>-->

                <!--<% } else if (userIsAuthenticated && user.type == 3){ %>-->

                <!--<li class="dropdown pull-left">-->
                    <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Advertisements<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">-->
                        <!--<li><a tabindex="-1" href="#">New</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a tabindex="-1" href="#">List</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li class="dropdown pull-left">-->
                    <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Jobs<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">-->
                        <!--<li><a tabindex="-1" href="#">New</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a tabindex="-1" href="#">List</a></li>-->
                    <!--</ul>-->
                <!--</li>-->


                <!--<li><a tabindex="-1" href="/activejobfinder/web/users/account">Account</a></li>-->
                <!--<li><a tabindex="-1" href="/activejobfinder/web/users/logout">Logout</a></li>-->

                <!--<% } else { %>-->

                <!--<li class="dropdown pull-left">-->
                    <!--<a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">Registration<b-->
                                <!--class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/companies/register/0">Company</a>-->
                        <!--</li>-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/blogger/register">Blogger</a>-->
                        <!--</li>-->
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1"-->
                                                   <!--href="/activejobfinder/web/users/register">User</a></li>-->

                    <!--</ul>-->
                <!--</li>-->

                <!--<% } %>-->

            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->