/* CSS Document */


/* overrides */

.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image:         linear-gradient(to bottom, #fff 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  font-size:14px;
  font-weight:600;
}


.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #eee 0%, #eee 100%);
  background-image:      -o-linear-gradient(top, #eee 0%, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#eeeeee));
  background-image:         linear-gradient(to bottom, #eee 0%, #eee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#eee', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .00);
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, .00);
}