<% layout(layoutPath) -%>
<form action="/activejobfinder/web/cities/account" method="post">
    <fieldset>
        <input type="hidden" name="city_id" value="<%= city.city_id %>"/>
        <label>City Name:</label>
        <input type="text" name="cityname" value="<%= city.cityname %>"/>
        <label>City Type:</label>
        <!--// Settlement(0)/City(1)/Lga(2)/District(3)-->
        <select name="type">
            <option value="0" <%= (city.type != null) && ('0'== city.type) ? 'selected = "selected"' : ''%>>Settlement</option>
            <option value="1" <%= (city.type != null) && ('1'== city.type) ? 'selected = "selected"' : ''%>>City</option>
            <option value="2" <%= (city.type != null) && ('2'== city.type) ? 'selected = "selected"' : ''%>>Local Government Area</option>
            <option value="3" <%= (city.type != null) && ('3'== city.type) ? 'selected = "selected"' : ''%>>District</option>
        </select>

        <label>Region:</label>
        <select name="region_id">
            <% regions.forEach(function (region) { %>
            <option value = "<%= region.region_id %>" <%= (city.region_id != null) && (region.region_id == city.region_id) ? 'selected = "selected"' : ''%>> <%= region.regionname %></option>
            <% }); %>
        </select>

        <br/>
        <button class="btn btn-primary">Update</button>
    </fieldset>
</form>
