<% layout(layoutPath) -%>


<script>

    $(document).ready(function () {
        $('.delete-class').click(function (event) {
            var rowID =  $(this).attr('id');

            $.ajax({
                url: '/activejobfinder/web/cities/'+ rowID,
                type: 'DELETE',
                success: function(result) {
                    // Do something with the result
                    $('#'+rowID ).remove();
                    $('#myModal').modal('show');
                }
            });
        });

        $('.edit-class').click(function (event) {
            window.location.href ='/activejobfinder/web/cities/account/'+$(this).attr('id') ;
        });
    });

</script>

<a href="/activejobfinder/web/cities/register" class="btn btn-primary">
    <i class="entypo-plus"></i>
    Add New
</a>
<br> <br>

<form role="form" action="/activejobfinder/web/cities/upload/file" method="post" id="fileupload" class="cmxform"
      enctype="multipart/form-data">
<div class="well">
    <!--************************** 4rth Row ****************************-->
    <div class="row">
            <div class="form-group">
                <div class="row">
                    Upload a CSV format file with the following format sequence:
                    <br>
                    CityName,Type,RegionID
                    <br><br>
                    # Type :  Settlement(0)/City(1)/Lga(2)/District(3)<br>
                    Sample:
                    <br><br>
                    NewYork,0,0a10285b-669b-f68a-a1d6-88db4b49d5b1<br>
                    California,1,0a10285b-669b-f68a-a1d6-88db4b49d5b1<br>
                    Lahore,2,0a10285b-669b-f68a-a1d6-88db4b49d5b1<br>
                    Abia,1,0a10285b-669b-f68a-a1d6-88db4b49d5b1<br>
                </div>
        </div>
    </div>
    <!--************************** 4rth Row ****************************-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <input type="file" accept="csv/*" value="fileUpload" name="fileUpload"></span>
                </div>
            </div>
        </div>
    </div>
    <!--************************** 11th Row ****************************-->
    <div class="row">
        <div class=" col-md-2 col-md-offset-8">
            <button type="submit" name="commit" class="btn btn-primary btn-block" >Upload File</button>
        </div>
        <div class="col-md-2">
            <a href="/" type="button" class="btn btn-default btn-block">CANCEL</a>
        </div>
    </div>
</div>
</form>


<br>
<br>


<div align="center" class="inputContainer">
    <table align="center" class="table table-bordered table-hover">
        <thead>
        <tr align="center">
            <!--<th>#</th>-->
            <th align="center">Region ID</th>
            <th align="center">City Name</th>
            <th align="center">Type</th>
            <th align="center">Country - Region</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<cities.length; i++) {%>
        <tr id="<%= cities[i].city_id %>">
            <td align="center"><%= cities[i].region_id %></td>
            <td align="center"><%= cities[i].cityname %></td>
            <td align="center" ><%= cities[i].type %></td>
            <td align="center" ><%= cities[i].regionname %></td>
            <td align="center">
                <input type="button" id="<%= cities[i].city_id %>" class="btn btn-default btn-sm edit-class" value="Edit"/>
                <input type="button" id="<%= cities[i].city_id %>" class="btn btn-danger btn-sm delete-class" value="Delete"/>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Deleted Successful</h4>
            </div>
            <div class="modal-body">
                Record Deleted Successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>