<% layout(layoutPath) -%>
<form action="/activejobfinder/web/cities/register" method="post">
    <fieldset> 
        <label>City Name:</label>
        <input type="text" name="cityname" />
        <label>City Type:</label>
        <!--// Settlement(0)/City(1)/Lga(2)/District(3)-->
        <select name="type">
            <option value="0">Settlement</option>
            <option value="1">City</option>
            <option value="2">Local Government Area</option>
            <option value="3">District</option>
        </select>

        <label>Region:</label>
        <select name="region_id">
            <% regions.forEach(function (region) { %>
            <option value = "<%= region.region_id %>" ><%= region.regionname.toUpperCase() %></option>
            <% }); %>
        </select>

        <br/>
        <button class="btn btn-primary">Save</button>
    </fieldset>
</form>
