<% layout(layoutPath) -%>
<h1>Account Page</h1>
<form action="/activejobfinder/web/cities/account" method="post">
  <fieldset>
      <label>Currency Name:</label>
      <input type="text" name="cityname" value="<%= city.cityname %>"/>
      <label>Currency Sign:</label>
      <input type="text" name="sign" value="<%= city.sign %>"/><br/>
    <button class="btn">Register</button>
  </fieldset>
</form>
