<% layout(layoutPath) -%>

<a href="/activejobfinder/web/jobbands/register" class="btn btn-primary">
    <i class="entypo-plus"></i>
    Add New
</a>
<br>
<br>

<div align="center" class="inputContainer">
    <table align="center" class="table table-bordered table-hover">
    <thead>
    <tr>
        <!--<th>#</th>-->
        <th align="center">Job Band Name</th> 
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<jobbands.length; i++) {%>
    <tr>
        <td align="center"><%= jobbands[i].jobbandname %></td>
    </tr>
    <% } %>
    </tbody>
</table>
    </div>