<% layout(layoutPath) -%>
<form action="/activejobfinder/web/jobbands/register" method="post">
    <fieldset> 
        <label>Job Band Name:</label>
        <input type="text" name="jobbandname" />

        <br/>
        <button class="btn">Save</button>
    </fieldset>
</form>
