<% layout(layoutPath) -%>
<style>
    .carousel-inner > .item > img {
        margin: auto;
    }
</style>
<div class="container-fluid">
    <div class = "row">
        <div align="center">
            <img src="images/ajf_logo.png" height="80px"  width="200px">
        </div>
    </div>
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner"  >
                <div class="active item">
                    <!--<h2>Slide 1</h2>-->
                    <img src="images/banners/banner1.jpg" class="img-responsive center-block" >
                    <div class="carousel-caption"  >
                        <h3>Active Job Finder</h3>
                        <p>Make your dream come true.</p>
                    </div>
                </div>
                <div class="item">
                    <!--<h2>Slide 2</h2>-->
                    <img src="images/banners/banner3.jpg"  class="img-responsive center-block" >
                    <div class="carousel-caption">
                        <h3>Aim High!</h3>
                        <p>Boost your career.</p>
                    </div>
                </div>
                <div class="item">
                    <!--<h2>Slide 3</h2>-->
                    <img src="images/banners/banner2.jpg"  class="img-responsive center-block"   >
                    <div class="carousel-caption">
                        <h3  >100000+ Jobs</h3>
                        <p>Best place to find your appropriate job.</p>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <br>

    <div class="row" >
        <div class="col-md-4 col-md-offset-2">
            <!--<a class="btn btn-primary btn-block" href="/activejobfinder/web/company/login" role="button">LOGIN</a>-->
            <a class="btn btn-primary btn-block" href="/underconstruction" role="button">LOGIN</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary btn-block" href="/register" role="button">REGISTER</a>
        </div>
    </div>
</div>