<% layout(layoutPath) -%>

<p>Welcome! <a href="/activejobfinder/web/users/register">Create an account</a> or login below:</p>

<form action="/activejobfinder/web/users/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>User Type:</label>
        <select name="type">
            <option value="1">Admin</option>
            <option value="2">Blogger</option>
            <option value="3">Company</option>
        </select>
    </div>
    <div>
        <button class="btn btn-primary">Log In</button>
    </div>
</form>
<a href="/activejobfinder/web/users/reset_password">Forgot your password?</a>

