<% layout(layoutPath) -%>

<div class="container-fluid">
    <div align="center">
        <img src="/images/Web-under-construction.jpeg" height="auto" width="780px" class="img-responsive">
    </div>
</div>