<% layout(layoutPath) -%>

<a href="/activejobfinder/web/jobtypes/register" class="btn btn-primary">
    <i class="entypo-plus"></i>
    Add New
</a>
<br>
<br>


<div align="center" class="inputContainer">
    <table align="center" class="table table-bordered table-hover">
    <thead>
    <tr>
        <!--<th>#</th>-->
        <th align="center">Job Type</th>
        <th align="center">Description</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<jobtypes.length; i++) {%>
    <tr>
        <td align="center"><%= jobtypes[i].type %></td>
        <td align="center"><%= jobtypes[i].description %></td>
    </tr>
    <% } %>
    </tbody>
</table>
    </div>