<% layout(layoutPath) -%>
<form action="/activejobfinder/web/jobtypes/register" method="post">
    <fieldset>
        <label>Job Type:</label>
        <input type="text" name="type" />

        <label>Description:</label>
        <input type="text" name="description" />

        <br/>
        <button class="btn">Save</button>
    </fieldset>
</form>
