<% layout(layoutPath) -%>
<form action="/activejobfinder/web/countries/account" method="post">
    <fieldset>
        <!--<label>Company ID:</label>-->
        <input type="hidden"     name="country_id"  value="<%= country.country_id %>"/>
        <label>Country Name:</label>
        <input type="text" name="countryname"  value="<%= country.countryname %>"/> <br/>

        <label>Currency:</label>
        <select name="currency_id">
            <% currencies.forEach(function (currency) { %>
            <option value = "<%= currency.currency_id %>" <%= (country.currency_id != null) && (currency.currency_id == country.currency_id) ? 'selected = "selected"' : ''%>><%= currency.currencyname %> (<%= currency.sign%>)</option>
            <% }); %>
        </select>
        <br>

        <button class="btn btn-primary">Update</button>
    </fieldset>
</form>
