<% layout(layoutPath) -%>
<form action="/activejobfinder/web/countries/register" method="post">
    <fieldset>
        <!--<label>Company ID:</label>-->
        <!--<input type="text"  class= "uneditable-input"  name="country_id"   disabled/>-->
        <label>Country Name:</label>
        <input type="text" name="countryname" /> <br/>

        <label>Currency:</label>
        <select name="currency_id">
            <% currencies.forEach(function (currency) { %>
            <option value = "<%= currency.currency_id %>" ><%= currency.currencyname %> (<%= currency.sign%>)</option>
            <% }); %>
        </select>
        <br>
        
        <button class="btn">Save</button>
    </fieldset>
</form>
