<% layout(layoutPath) -%>
<h1>Account Page</h1>
<form action="/activejobfinder/web/currencies/account" method="post">
  <fieldset>
      <label>Currency Name:</label>
      <input type="text" name="currencyname" value="<%= currency.currencyname %>"/>
      <label>Currency Sign:</label>
      <input type="text" name="sign" value="<%= currency.sign %>"/><br/>
    <button class="btn">Register</button>
  </fieldset>
</form>
