<% layout(layoutPath) -%>

<a href="/activejobfinder/web/currencies/register" class="btn btn-primary">
    <i class="entypo-plus"></i>
    Add New
</a>
<br>
<br>


<div align="center" class="inputContainer">
    <table align="center" class="table table-bordered table-hover">
    <thead>
    <tr>
        <!--<th>#</th>-->
        <th align="center">Currency ID</th>
        <th align="center">Currency Name</th>
        <th align="center">Currency Code</th>
        <th align="center">Currency Sign</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<currencies.length; i++) {%>
    <tr>
        <td align="center"><%= currencies[i].currency_id %></td>
        <td align="center"><%= currencies[i].currencyname %></td>
        <td align="center"><%= currencies[i].currencycode %></td>
        <td align="center" ><%= currencies[i].sign %></td>
    </tr>
    <% } %>
    </tbody>
</table>
    </div>