<% layout(layoutPath) -%>
<form action="/activejobfinder/web/currencies/register" method="post">
    <fieldset> 
        <label>Currency Name:</label>
        <input type="text" name="currencyname" autofocus/>
        <label>Currency Code:</label>
        <input type="text" name="currencycode" />
        <label>Currency Sign:</label>
        <input type="text" name="sign" />  <br/>
        <button class="btn">Save</button>
    </fieldset>
</form>
