<% layout(layoutPath) -%><html>
<head>
    <title></title>
</head>
<body>
<h1 align="center">About Us</h1>

<!--<p style="text-align: center;"><em><strong><span style="color:#6699cc;">Supporting Africa in Job Hunting!</span></strong></em></p>-->

<p>&nbsp;</p>








<p>We believe that Africa has an amazing economic potential, an ethos we share with some of the World’s largest multinational corporations. Active Job Finder is a multi-platform job portal, specifically designed to connect job-seeking Africans to the African job-market. At AJF, we felt there is the need to decrease the challenges faced by African job seekers, employers and recruitment agencies.</p>
<br>

<p>AJF portal will support a Web & App frontend which will be free to download on iOS (Apple) and Android (Google Play) when it goes live.</p>
<br>
<p>Research and experience has led to an app which helps to alleviate one of the biggest challenges faced by recruiters and job seekers alike by introducing new and smart features for the user.</p>


<!--<p>The Active Job Finder app has been up and running since the start of 2014. Active Job Finder is free to download on iOS (Apple) [DOWNLOAD LINK] and Android (Google Play) [DOWNLOAD LINK].</p>-->

<!--<p>We believe that Africa has amazing economic potential, an ethos we share with some of the World&rsquo;s largest multinational corporations. My team and I developed Active Job Finder, a job search app, specifically to connect job-seeking Africans to the African job-market. I felt there was a need to decrease the challenges faced by African job seekers, after my own experience finding employment.</p>-->

<!--<p>My experience has lead to an app which helps to alleviate one of the biggest challenges faced by recruiters and job seekers alike, power shortage. Once the app is opened it keeps a bank of vacancy information, so you can&rsquo;t loose an application form halfway through.</p>-->

<!--<p>Another great bonus is that the app will send you push notifications based on Job Sector to make sure that you never miss an opportunity for your dream job.</p>-->

<!--<p>My vision is that Active Job Finder will enable businesses to recruit more fantastic candidates by providing the structures and guidance needed to fill their job vacancies 24/7.&nbsp;</p>-->

<!--<p>The app currently covers Nigeria, Ghana, Mauritius, Kenya and Uganda and we aim to eventually cover the whole of Africa!</p>-->

<!--<p>See the groundbreaking app for yourself visit Active Job Finder now.</p>-->

<!--<p style="text-align: center;"><em><strong><span style="color:#6699cc;">For Recruiters</span></strong></em></p>-->

<!--<p>The Active Job Finder app also has the facility to filter the number of CVs that can be received in one day, this helps keep your team from being bogged down. These are emailed directly to an email address of your choice.</p>-->

<!--<p>We need to keep the app free for job seekers so that no career talent slips through the net. We maintain the financial sustainability of the app through advertising, by providing opportunities for banner and text adverts within the app, and its accompanying website. This is not only a useful opportunity; it is a chance to keep job searching free and equal for all.</p>-->

<!--<p>If you would like more information on advertising space please get in touch.</p>-->

<!--<p>[Contact details/email link]</p>-->
</body>
</html>
