<% layout(layoutPath) -%>
<style>
    .my-error-class {
        color:#FF0000;  /* red */
    }
    .my-valid-class {
        color:#00CC00; /* green */
    }
</style>

<script type="text/javascript">
    function telInputField(phoneField, err_msg, valid_msg){
        var telInput = $(phoneField),
                errorMsg = $(err_msg),
                validMsg = $(valid_msg);

        // initialise plugin
        telInput.intlTelInput({
            utilsScript: "/build/js/utils.js"
        });

        // on blur: validate
        telInput.blur(function() {
            if ($.trim(telInput.val())) {
                if (telInput.intlTelInput("isValidNumber")) {
                    validMsg.removeClass("hide");
                } else {
                    telInput.addClass("error");
                    errorMsg.removeClass("hide");
                    validMsg.addClass("hide");
                }
            }
        });

        // on keydown: reset
        telInput.keydown(function() {
            telInput.removeClass("error");
            errorMsg.addClass("hide");
            validMsg.addClass("hide");
        });
    }

    $( document ).ready(function() {

        $("#country").select2({placeholder: "Select Country",
            allowClear: true, width : 230, dropdownAutoWidth : true,minimumResultsForSearch: -1});

//        Jquery Validation Scripts
        $("#contactus").validate({
            rules: {


                message: {
                    required: true,
                    minlength: 12
                },
                subject: {
                    required: true,
                    minlength: 6
                },
                name: {
                    required: true,
                    minlength: 2
                },
                email: {
                    required: true,
                    email: true
                },
                country_id: {
                    required: true
                }
            },
            messages: {
                message: {
                    required: "Please enter message",
                    minlength: "Your message must be 12 characters long"
                },
                subject:{
                    required: "Please enter subject",
                    minlength: "Subject must be 6 characters long"
                },
                name:{
                    required: "Please enter your name",
                    minlength: "Name must be 2 characters long"
                },
                country_id: "Please select a country",
                email: "Please enter a valid email address"
            },
            errorClass: "my-error-class",
            validClass: "my-valid-class"

        });

    });

</script>

<div class="row">
        <div class="col-md-6" >
            <div class="container-fluid" >
                <h3>CONTACT US</h3>
                    <form role="form" action="/activejobfinder/web/contactus" method="post" id="contactus" class="cmxform"
                          enctype="multipart/form-data">
                        <div class="well">
                        <!--************************** 1st Row ****************************-->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label" for="name">Name*</label>
                                    <input type="text" class="form-control input-sm" id="name" placeholder="Enter your Name"  name="name">
                                </div>
                            </div>

                        </div>
                        <!--************************** 2nd Row ****************************-->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email Address*</label>
                                    <input type="email" class="form-control input-sm" id="email" placeholder="Enter your Email Address"  name="email">
                                </div>
                            </div>
                        </div>
                        <!--************************** 3rd Row ****************************-->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label" for="subject">Subject*</label>
                                    <input type="text" class="form-control input-sm" id="subject" placeholder="Subject"
                                           name="subject">
                                </div>
                            </div>
                        </div>
                        <!--************************** 4rth Row ****************************-->
                        <div class="row">

                            <div class="col-md-8">

                            <div class="form-group">

                                <label class="control-label" for="country">Country*</label>
                                <br>
                                <select name="country_id"     id="country" style="margin-bottom: 10px">
                                    <!--<option value="" disabled selected>Select Country</option>-->
                                    <option></option>
                                    <% countries.forEach(function (country) { %>
                                    <option value = "<%= country.country_id %>" ><%= country.countryname %></option>
                                    <% }); %>
                                </select>
                            </div>

                            </div>

                        </div>
                        <!--************************** 5th Row ****************************-->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label" for="message">Message*</label>
                                    <textarea type="text" class="form-control" rows="5" id="message" placeholder="Type your message here!"  name="message"></textarea>
                                </div>
                            </div>

                        </div>
                            </div>

                        <!--************************** 11th Row ****************************-->
                        <div class="row">
                            <div class=" col-md-4 col-md-offset-4">
                                <button type="submit" name="commit" class="btn btn-primary btn-block" >SUBMIT</button>
                            </div>
                            <div class="col-md-4">
                                <!--<button type="submit" class="btn btn-default btn-block">CANCEL</button>-->
                                <input type="reset" value="CANCEL" class="btn btn-default btn-block" >
                            </div>
                        </div>
                        <input type="hidden" name="type" value="3" />
                        <input type="hidden" name="active" value="active" />
                    </form>
        </div>
    </div>
</div>