<% layout(layoutPath) -%>

<h1 align="center">PRIVACY POLICY</h1>
<div align="left" class="container">
<p>Last Updated: &nbsp;August 22<sup>nd</sup>, 2014</p>

<p>&nbsp;</p>

<p>References in this Privacy Policy relate to &#39;we&#39;, &#39;us&#39; as www.activejobfinder.com</p>

<p>We would like to thank you for visiting our website<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a>. We are committed to integrity and providing an extraordinary customer&rsquo;s experience. This commitment includes respecting and protecting the privacy of personal information, that we obtain through our Website and via mobile. This Privacy Policy provides you information about how we collect, use and share your personal information, as well as our Privacy Policy in general. We are always ready to address your questions and concerns regarding our Privacy Policy. Please feel free to contact us through our Website. Please know, that your privacy is extremely important for us. To better protect your privacy<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> &nbsp;provides this notice, clearly explain our online information practices and the available choices you can make, about the way your information is collected and used. Any of your personal details will be only used by<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> to ensure, that we protect your privacy and deliver an excellent service to you. We may collect and use personal information to serve our Valuable Customers better and to provide excellent Customer Care.</p>

<p>&nbsp;</p>

<p><strong>Information We Collect From You</strong></p>

<p>&nbsp;</p>

<ul>
    <li>When you register an account on &nbsp;<a href="http://www.activejobfinder.com">www.activejobfinder.com</a> (examples: name, e-mail, employer, country, and &nbsp;password)</li>
    <li>When you provide information to us about yourself.</li>
    <li>We use cookies and other technologies to recognize you, customize your experience, and serve advertisements.</li>
    <li>We automatically receive from your internet use information like your IP address, the URLs of sites from which you arrive or leave the<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> &nbsp;Website, your type of browser, your operating system, your mobile provider, your mobile device, and your ISP.</li>
    <li>We retain information you provide in connection with third party services available through<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> like surveys and polls or other third party research undertaken with your consent.</li>
</ul>

<p>&nbsp;</p>

<p><strong>How Do We Use Your Information &nbsp;&nbsp;&nbsp; </strong></p>

<p>&nbsp;</p>

<p><a href="http://www.activejobfinder.com">www.activejobfinder.com</a> is a registered data controller under the Data Protection Act 1998. Any personal information we may collect from you , will be used in accordance with the Data Protection &nbsp;Act 1998 and other applicable laws.</p>

<p><a href="http://www.activejobfinder.com">www.activejobfinder.com</a> uses return email addresses to answer request emails. Such addresses are not used for any other purpose and are not shared with outside of<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a>.</p>

<p><a href="http://www.activejobfinder.com">www.activejobfinder.com</a> uses non-identifying and aggregated information. We would never disclose anything that could be used to identify those individuals. <a href="http://www.activejobfinder.com">&nbsp;www.activejobfinder.com</a> would never use or share your personal information provided to us online, in ways not related &nbsp;to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses. We use collected information: to contact you about the job offers; to identify your service preferences; to improve our Website services; customer care and customer experience; to maintain commercial relations and to communicate with the customers.</p>

<p>&nbsp;</p>

<p><strong>Controlling Your Personal Information</strong></p>

<p>&nbsp;</p>

<p>In case, if you previously agreed to us using your personal information for direct marketing purposes, you can change your mind at any time and letting us know by sending us an email. We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties, which we think you could be interested in, after you tell us, that you wish this to happen.</p>


<p>&nbsp;</p>

<p><strong>We Use The Information You Provide To</strong></p>

<ul>
    <li>Manage your account with us and customize the service we provide to you and employers.</li>
    <li>Send you service or promotional communications through email.</li>
</ul>


<p>&nbsp;</p>

<p><strong>How We Collect Your Information</strong></p>


<p>&nbsp;</p>

<p>We may collect and process the following information from you: details of your visits to our website and the resources that you access; the record of the correspondence, when you contacting us; information that you provide by filling in the forms on our website. We may also ask you to complete surveys that we use for research purposes, although you may choose not to respond to them.</p>



<p>&nbsp;</p>

<p><strong>How We Protect The Information You Give To Us</strong></p>

<ul>
    <li>Personal information you provide will be secured with industry standards and technology. Since the internet is not a 100% secure environment, we cannot ensure or warrant the security of any information you transmit to us.</li>
    <li>Although we have made our best efforts to protect the confidentiality of your Personal Information, we cannot promise, and you should not expect, that your Personal Information will always stay private.</li>
    <li>You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to your email communications at all the time.</li>
</ul>

<p style="margin-left:.5in;">&nbsp;</p>

<p><strong>Our Commitment To Data Security</strong></p>

<p>&nbsp;</p>

<p>We are committed to ensure that your information is secure. Protecting the security of your information is very important to us. When you transmit sensitive personal information ( such as credit card information ) from your computer to our servers, your information is both protected by both a &#39; firewall &#39; ( a combination of computer hardware and software that helps keep unauthorized visitors from accessing information within our computer network ) and industry standard SSL ( secure socket layer ) &nbsp;encryption. For our mobile website, we protect your payment card information using encryption technology. Once we receive your transmission, we will take reasonable precautions to secure and protect information on our system.</p>



<p>&nbsp;</p>

<p><strong>How Do We Use The Cookies</strong></p>

<p>&nbsp;</p>

<p>A cookie is a small file, which asks permission to be placed on your computer&#39;s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or let us know, when you visit a particular website. Cookies allow web applications to respond to you, as an individual and tailor products and services to your needs, likes and dislikes by gathering and remembering information about your preferences. Cookies were designed to remember things that a Visitor has done on the website in the past, which may include for example putting products in their basket, logging in, or clicking on links. We use traffic log cookies to identify which pages are being used. This helps us analyse data about Website traffic and improve our Website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system. Cookies help us provide you with a better Website experience, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. Cookies are not dangerous. There are not computer programs and cannot be used to circulate viruses. You may choose to accept or decline cookies. Most web browser automatically accept cookies, but you can usually modify your browser settings to decline cookies, if you prefer.</p>



<p>&nbsp;</p>

<p><strong>Links To Other Websites</strong></p>

<p>&nbsp;</p>

<p>Our Website may contain links to third -party websites that are not affiliated with<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a>. These websites may send their own cookies to visitors, collected data or solicit your information. &nbsp;The privacy policies of these other websites, may be very different from our policy. However, once you have used these links to leave our site, please know that we don&#39;t have any control over that other websites. We are not responsible for the privacy practices of these other websites and can&#39;t guarantee the security of any personal information you provide to or collected by such third party sites.</p>



<p>&nbsp;</p>

<p><strong>Options To View, Update Or Remove Your Information</strong></p>

<p>&nbsp;</p>

<p><a href="http://www.activejobfinder.com">www.activejobfinder.com</a> would like you to keep up to date with information about new ranges, special offers and improvements to this Website. If you have registered for an account or made a purchase, you may view and update your account information by logging into &#39;Your Account&#39; section of the website, with your email address and password. Once you logged in, you can view or update your name, address, telephone number or an email address. If you choose to not be contacted by us, you are more than welcome to request us to stop contacting you. If you do so, please send us an email.</p>



<p>&nbsp;</p>

<p><strong>How we Protect The Information You Give To Us</strong></p>

<ul>
    <li>Personal information you provide will be secured with industry standards and technology. Since the internet is not a 100% secure environment, we cannot ensure or warrant the security of any information you transmit to us.</li>
    <li>Although we have made our best efforts to protect the confidentiality of your Personal Information, we cannot promise, and you should not expect, that your Personal Information will always stay private.</li>
    <li>You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to your email communications at all the time.</li>
</ul>

<p><strong>Information we collect from you</strong></p>

<p><strong>Personally Identifiable Information</strong></p>

<p>Our Website enables you to search for jobs in your area, register to receive emails about future job postings, or to permit employers to contact you directly regarding job offerings. You may search without registering, but in order to apply for a job, receive email communications or be contacted by an employer interested in you for employment, you will have to register with<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a>. We sometimes collect the following personally identifiable information: email address, password, name, address, phone number, date of birth, gender, citizenship, education, job preferences, work experience. &nbsp;Your personally information allows us to share your job preferences and work experiences with prospective employers, communicate with you about potential employment opportunities, customize the Website to your individual preferences and ensure your compliance with our &ldquo;Terms and Conditions&rdquo; &nbsp;and any other restrictions noted on the Website. In addition to providing us with your personally information and your IP address, if you chose to participate in interactive job search, you will have to complete a user profile in which you may describe your skills, professional experiences, educational background. Providing additional information about yourself beyond what is minimally required at registration is entirely up to you, but providing such additional information enables you to extract more benefit from the Website and your professional network by helping you build and leverage your professional network and facilitating your search for professional resources, information, and new opportunities. Any Personal Information you provide at registration or in the profile section may be used by us as we describe in the Terms and Conditions and this Privacy Policy. If you decide not to share such Personal Information, you may not receive the full benefit of our Website .</p>

<p>&nbsp;</p>

<p><strong>Summary of information collected by us</strong></p>

<p>&nbsp;</p>

<p>We collect the following information from you:</p>

<ul>
    <li>Registration information.</li>
    <li>Profile information.</li>
    <li>Information regarding your usage of our Website.</li>
    <li>Information we collect from our cookies.</li>
    <li>Your IP address, operating system or mobile platform, ISP or mobile provider, whichever is applicable.</li>
</ul>

<p style="margin-left:.5in;">&nbsp;</p>

<p style="margin-left:.5in;">&nbsp;</p>

<p><strong>How We Use Information We Collect From You</strong></p>

<p>&nbsp;</p>

<p>We take your privacy very seriously, and we do not sell, rent, or otherwise provide your Personal Information to third parties for marketing purposes. The only instances in which we disclose your Personal Information to third parties are : we disclose your Personal Information to companies and individuals who perform duties on our behalf, such as website hosting, marketing and customer service companies. While these companies may have access to your Personal Information in order to perform their jobs, they are prohibited from sharing your information with any other individual or company. We will consider releasing, and may release, Personal Information to third parties to comply with valid legal requirements such as a law, regulation, search warrant, or court order. We also may release Personal Information in order to prevent a crime, for national security, to protect our rights and property and to protect the personal safety of our Members.</p>

<p>&nbsp;</p>

<p><strong>How We Protect The Information You Give To Us</strong></p>

<p>&nbsp;</p>

<p>We have implemented a variety of security measures to maintain the safety of your Personal Information. We keep your Personal Information on a central database on a secured network that can be accessed only by a limited number of persons who are required to keep such information confidential. We audit our network regularly for possible vulnerabilities and attacks.</p>

<p>Although we have made our best efforts to protect the confidentiality of your Personal Information, we cannot promise, and you should not expect, that your Personal Information will always stay private. There is no guarantee that information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. We also cannot guarantee that unauthorized third parties will never be able to overreach our security measures and obtain access to your Personal Information. As a user of the Website, you agree that you assume all risks regarding your use of the Website, transmissions made over the Internet, and your sharing of your Personal Information.</p>

<p>&nbsp;</p>

<p><strong>Your Obligations To </strong><strong><a href="http://%20www.Activejobfinder.Com">&nbsp;www.Activejobfinder.Com</a></strong></p>

<p>&nbsp;</p>

<p>As a Member, you have certain obligations to<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> . Those obligations include the following:</p>

<ol>
    <li>You must agree to our Terms and Conditions Privacy Policy and This includes respecting all intellectual property rights that may belong to third parties.</li>
    <li>You must keep your username and password confidential and not share it with others.</li>
    <li>Any violation of these guidelines may lead to the restriction, suspension or termination of your account at our discretion.</li>
</ol>

<p style="margin-left:.5in;">&nbsp;</p>

<p><strong>At</strong><a href="http://www.activejobfinder.com"> www.activejobfinder.com</a><strong>, &nbsp;we&#39;re committed to help you find the best job in a safe and secure environment.</strong> <strong>Additionally here is what you can do, to protect yourself.</strong></p>



<p>&nbsp;</p>

<p><strong>Account security</strong></p>

<p>Online security risks can be minimised simply by ensuring that your password is always kept secure. We recommend you follow the password security advice below:</p>

<ul>
    <li>Always use a password which is personal and does not contain your name, email address or the word &#39;password&#39;.</li>
    <li>Ensure your password contains both letters and numbers.</li>
    <li>Never give your password out to anyone - we will never ask you for your password.</li>
    <li>Change your password at least once every three months.</li>
    <li>Take a moment to memorise your password so you don&#39;t need to write it down.</li>
    <li>Try and use a different password for each different website you use.</li>
</ul>

<h3>&nbsp;</h3>

<h3>Disclosure of your information</h3>

<p>The information you provide to us will be held on computers solely owned by<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> &nbsp;In no circumstances will we pass your information to third parties to enable them to contact you themselves about products and services that they offer. Unless required to do so by law, we will not otherwise share, sell or distribute any of the information you provide to us without your consent.</p>
</div>