<% layout(layoutPath) -%>


<div align="center" class="inputContainer">
    <table align="center" class="table table-bordered table-hover">
    <thead>
    <tr>
        <!--<th>#</th>-->
        <th align="center">Contact Person Name</th>
        <th align="center">Email Address</th>
        <th align="center">Subject</th>
        <th align="center">Country</th>
        <th align="center">Message</th>
        <th align="center">Posted</th>
    </tr>
    </thead>
    <tbody>
    <% var count=1; for(var i=0; i<queries.length; i++) {%>
    <tr>
        <td align="center"><%= queries[i].name %></td>
        <td align="center" ><%= queries[i].email %></td>
        <td align="center" ><%= queries[i].subject %></td>
        <td align="center" ><%= queries[i].country_id %></td>
        <td align="center"><%= queries[i].message %></td>
        <td align="center"><%= queries[i].created %></td>
    </tr>
    <% } %>
    </tbody>
</table>
    </div>