<% layout(layoutPath) -%>
<h1 align="center">TERMS AND CONDITIONS</h1>

<div class="container" align="left">

    <p>Last Updated: &nbsp;August 22<sup>nd</sup>, 2014</p>
<p align="center">&nbsp;</p>

<p ><strong><em>What sets us apart from other Job Portals is, that the candidates do not need to register with the website, in order to browse the job&#39;s offers.</em></strong></p>


<p>&nbsp;</p>

<p>Welcome to<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> Website Terms and Conditions. These Terms and Conditions apply to the use of this Website (<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> ) and by accessing, browsing or using this Website, you agree to be bounded by the Terms and Conditions set out below. If you do not agree to these Terms and Conditions, you may not use or access this Website. Please read the following Terms and Conditions carefully before using the<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> Website.</p>

<p>&nbsp;</p>

<p>The mission statement of www.activejobfinder.com is to help people fit into perfect job positions, so they can maximize their potential and live more fulfilling lives. We are committed to maintain excellence, respect, and integrity in all aspects of our operations and our professional and business conduct. We strive to reflect the highest ethical standards in our relationships with customers, candidates, employers and members. We are dedicated to every client success.</p>

<p>&nbsp;</p>

<p><strong>Copyright and Trademarks</strong></p>

<p>&nbsp;</p>

<p>1. <a href="http://www.activejobfinder.com">&nbsp;www.activejobfinder.com</a> does not give you any right or interest in any copyright or intellectual property rights or the right to copy them. The copyright in<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> and the content of all software, website is owned by or licensed to<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a>, and is protected by copyright laws and agreements around the world (unless otherwise specified) and may not be used, copied or altered without our permission. All right are reserved by<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a></p>

<p>2. &nbsp;On our Website you may find links to third party materials or websites outside<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> We do not authorise those websites and do not take the responsibility for the content of those websites.</p>

<p>3. &nbsp;It is a condition of your using<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a>&nbsp; that you have read and agreed to the terms of our Terms and Conditions and Privacy Policy.</p>

<p>4. &nbsp;We may change any aspect of<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> at any time without letting you know. You agree to be bound by such updates and you agree to visit this page from time to time, to check such changes.</p>

<p>5.<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> authorizes you to view a material on this Website solely for your personal, noncommercial, internal business purposes or as a job applicant. You may not distribute such material to third parties or use it to create directories, mailing or marketing lists or for any other purpose.</p>

<p>&nbsp;</p>

<p><strong>Links to Third Party Sites</strong></p>

<p>The Site may have links to other sites maintained by third parties and not owned or operated by <a href="http://www.activejobfinder.com">www.activejobfinder.com</a>. <a href="http://www.activejobfinder.com">www.activejobfinder.com</a> assumes no responsibility or liability for other websites.<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> does not endorse or accept any responsibility for the content, advertising, or use of products or services available through these other websites. You hereby acknowledge and agree that <a href="http://www.activejobfinder.com">www.activejobfinder.com</a> shall not be responsible or liable, directly or indirectly, for any loss or damage that is caused or alleged to have been caused to you in connection with your use of, or reliance on, any content or services available on any other website. Your use of other websites is at your own risk. Any concerns should be directed to the other website&#39;s owner.</p>

<p>&nbsp;</p>

<p><strong>Account and Password</strong></p>

<p>With your use of this Website, you may decide to open an account with <a href="http://www.activejobfinder.com">www.activejobfinder.com</a> If you open an account with the Site, you will receive an account login and an initial password. It is your responsibility to &nbsp;maintain the confidentiality of your account login and password. Please immediately notify <a href="http://www.activejobfinder.com">www.activejobfinder.com</a> &nbsp;if there is any unauthorized use of your account. &nbsp;<a href="http://www.activejobfinder.com">www.activejobfinder.com</a> is committed to protecting the privacy of every individual who utilizes this Website and does business with the<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a>. This statement discloses<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> policies regarding the information it gathers, the purposes for which it is used, and the steps the<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> takes to protect your privacy. Please take your time to review this privacy statement and contact the<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> with any concerns.</p>

<p>&nbsp;</p>

<p><strong>Information Collected by </strong><a href="http://www.activejobfinder.com">&nbsp;<strong>www.activejobfinder.com</strong></a></p>

<p>As an employment services provider presenting associates to potential employers,<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> collects personally identifiable information, such as names, addresses, phone numbers, e-mail addresses, personal interests and previous employment information.<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> also collects personally identifiable information, such as names, titles, company names, addresses, phone numbers, and e-mail addresses, from customers seeking to place a job order or to submit contact information online.</p>

<p>&nbsp;</p>

<p><strong>How the</strong><a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> <strong>Uses and Protects the Security of Your Information</strong></p>

<p>In order to assist candidates in their job search and customers in their job placements, personally identifiable information is shared with<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> employees. All<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> employees have a responsibility to respect and maintain the confidentiality of personally identifiable information. The personally identifiable information is collected to develop by understanding of the associate&#39;s work experience, skills and abilities and of the customer&#39;s job requirements.<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> uses this personally information to increase its services, fulfill customers&#39; and candidates&#39; requests for job placement, personalize their experience and provide them with special offers they may find valuable.</p>

<p>&nbsp;</p>

<p><strong>Links to Other Websites</strong></p>

<p>This Website may contain links and references to other sites.<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> encourages you to review the privacy statements of these other sites so that you can understand how your information is collected, used and shared.<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> assumes no responsibility for the privacy statements or the content on Web sites not maintained by<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a></p>

<p>&nbsp;</p>

<p><strong>Receiving E-Mail Addresses</strong></p>

<p><a href="http://www.activejobfinder.com">www.activejobfinder.com</a> is fully committed to sending you only e-mail that you have an interest in receiving. We do not share your e-mail address with other parties at any time for any purpose whatsoever. This includes renting, bartering, selling, leasing or otherwise making your e-mail address available to any other company or organization unless required by a court of law or law enforcement. Occasionally,<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> uses e-mail to share valuable information with those candidates, who have requested to be kept informed regarding career searches, employment opportunities and special benefits available to them. You may choose to unsubscribe of these distributions at any time.</p>

<p>&nbsp;</p>

<p><strong>How You Can Access or Correct Your Information</strong></p>

<p>If personally identifiable information of user has changed, such as, telephone, e-mail or postal address, or if a user no longer desires<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> services, please contact Customer Support.</p>

<p>&nbsp;</p>

<p><strong>How To Contact The</strong><a href="http://www.activejobfinder.com"> <strong>www.activejobfinder.com</strong></a></p>

<p><a href="http://www.activejobfinder.com">www.activejobfinder.com</a> welcomes and encourages your comments. If you have any questions about the policy or your experience with the<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> Website you may contact us by e-mail.</p>

<p>&nbsp;</p>

<p><strong>Your Rights and Obligations</strong></p>

<p>&nbsp;</p>

<p><strong>Service Eligibility</strong></p>

<p>To be eligible to use the Website, you represent and warrant that you: &nbsp;are eighteen (18) years of age or older; are not currently restricted from the Website, or not otherwise prohibited from having an account with us, are not a competitor of ours and are not using the Website for reasons that are in competition with us; &nbsp;will only maintain one account with us at any given time (although you can delete an account and subsequently register for a new one, as long as you have only one active account at a time); &nbsp;have full power and authority to enter into this agreement with us and to be bound by these Terms of Use and doing so will not violate any other agreement to which you are a party; &nbsp;will not violate any rights of the Website, including intellectual property rights such as copyright or trademark rights.</p>

<p>&nbsp;</p>

<p><strong>Registration Process</strong></p>

<p>If you choose to create a profile on our Website, you must complete an online registration form. You agree to provide true, accurate, current and complete information about yourself as prompted by the Website&#39;s registration form, and to maintain and promptly update the information you provide to us in order to keep your profile true, accurate, current and complete. If we have reasonable grounds to suspect that the information in your profile is untrue, not current or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of our Website by you. Our use of any personally identifying information you provide to us as part of the registration process is ruled by the terms of our Privacy Policy.</p>

<p>&nbsp;</p>

<p><strong>Username and Password</strong></p>

<p>To log onto our Website, you will need a username and password which you will supply when you register to use our Website. You are responsible for maintaining the security and confidentiality of your username and password, and all activities with respect to the Website that occur under your username or password. We are not liable for any harm or loss caused by or related to the theft or disclosure of your username and password, or your authorization to allow another person to access and use the Website with your username and password. You agree to notify us immediately of any unauthorized use of your username and password, the need to deactivate your user name and password due to security concerns. Please ensure, that you log out of your account at the end of each session.</p>

<p>&nbsp;</p>

<p><strong>Your Responsibilities</strong></p>

<p>Our Website is intended to be used only for legal purposes by individuals seeking employment and employers offering jobs. You may not use our Website for any purpose or in any manner that is prohibited by these Terms and Conditions. It is your responsibility to ensure that your use of our Website complies with these Terms and Conditions and to seek prior written permission from us for any uses not permitted.</p>

<p>&nbsp;</p>

<p><strong>Website Security Principles</strong></p>

<p>You are prohibited from violating the security of our Website, including, without limitation, accessing data not intended for you or logging into a server or account, that you are not authorized to access, attempting to probe, scan or test the vulnerability of our or attempting to break in with service to any user, host or network, including, without limitation, by means of overloading, &quot;flooding&quot;, &quot;mailbombing&quot; or &quot;crashing.&quot;</p>

<p>&nbsp;</p>

<p><strong>Compliance with Applicable Laws</strong></p>

<p>You are responsible for ensuring that your use of our Website complies with all laws directly or indirectly applicable to you or us.<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> is not liable or responsible for any of your acts in using the Website in ways that do not comply with any applicable law.</p>

<p>&nbsp;</p>

<p><strong>Your Right to Use our Website</strong></p>

<p>For as long as you agree with these Terms and Conditions, you have a limited, non-exclusive, non-transferable, non-assignable, non-sub licensable and revocable license to access and use our Website through a generally available web browser only for its intended purpose and only as provided in these Terms and Conditions. Our Website is only for your personal and noncommercial use. We built our Website to help you find a job, and to help you meet potential employers. &nbsp;To achieve this purpose, we encourage you to share truthful and accurate information. We also respect the intellectual property rights of others. Accordingly, these Terms and Conditions require, that information posted by you be accurate and not in violation of the intellectual property rights or other rights of third parties.</p>

<p>&nbsp;</p>

<p><strong>ATTENTION!</strong></p>

<p>&nbsp;</p>

<p>1. The candidates who are requested to pay for job an interview /regarding job posted on<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> /should report it to us/<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> &nbsp;/ immediately together with any documented evidence.</p>

<p>&nbsp;</p>

<p>2. The companies/employers are not allow to request any form of application or employment charges from the candidates. If they do, it will result in freezing or removing their account /depending on the severity/.</p>

<p>&nbsp;</p>

<p>3. <a href="http://www.activejobfinder.com">&nbsp;www.activejobfinder.com</a> &nbsp;does not save the candidates CV. If you browse <a href="http://www.activejobfinder.com">&nbsp;www.activejobfinder.com</a> &nbsp;on PC-WEB, please make sure to save the CV on the PC. For job seekers using mobile devices, please ensure that your CV is on YOUR mobile device /for easy access or check &quot;How-to-Apply&quot; section on <a href="http://www.activejobfinder.com">&nbsp;www.activejobfinder.com</a> &nbsp;Website/.</p>

<p>&nbsp;</p>

<p>4. If you suspect, that somebody impersonates as a staff from<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> , please contact our Support Team via our WEB<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> &nbsp;immediately. Please ensure and be aware of that, all emails coming from<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> &nbsp;must have a domain /@activejobfinder.com/ attached to it.</p>

<p>&nbsp;</p>

<p>5. The Companies/Client/Employer must register via Web<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> &nbsp;. The candidates looking for a job, do not need to register.</p>

<p>&nbsp;</p>

<p>6. Please let us know, if you are the candidate applying for the job and during an interview you are forced to do a different kind of profession, than you were applied. This is &nbsp;a sign of dishonesty and &nbsp;it stops the right person from applying, as well as forcing people to do the wrong jobs. The candidates are advised to report this us via<a href="http://www.activejobfinder.com"> www.activejobfinder.com</a> &nbsp;, along with the evidence. The Companies/Client/Employer will be blocked or their account will be deleted.</p>

<p>&nbsp;</p>

<p>7. Dear Candidate / Employer. Please acknowledge the fact, that your picture on the CV is not expected, as this is a sign of discrimination.</p>

</div>
