<% layout(layoutPath) -%>

    <!-- form area -->
    <div class="container"> 
    
    	<div class="row ">
        <div class="col-md-9">
     	
        <div class="row jdetail-head">
        	<div class="col-sm-3 col-xs-4 no-pad">
       	    <img src="/temptest/img/dummy_logo.png">
            </div>
            <div class="col-sm-6 col-xs-8">
            <span class="typo-detail-ctitle">
            <strong>YOUR DASHBOARD</strong>
            </span>
            <BR/>
            <span class="typo-detail-Jtitle">
            Welcome to your Dashboard
            </span>
            </div>
            <div class="col-sm-3 col-xs-12 no-pad">
            	<a href="#" class="btn-blue  db-btn-post">
                    POST A JOB
                </a>
                <a href="#" class="btn-gray">
                    SETTINGS
                </a>
                
            </div>
        </div>
        <div class="row jdesc ">
        
        <p class="typo-medl">
        	<strong>ACTIVE JOB POSTINGS (20)</strong>
        </p>
        
        <div class="row aj-head  typo-small-white">
        	<div class="col-sm-2 col-xs-3">
            	RECIEVED
            </div>
            <div class="col-sm-3 col-xs-4">
            	JOB
            </div>
            <div class="col-sm-2 col-xs-3">
            	RESUME/ DAY
            </div>
            <div class="col-sm-1 col-xs-2">
            	PAYMENT
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        
        <div class="row aj-tr">
        	<div class="col-sm-2 col-xs-3">
            	<span class="typo-Vsmall">
                <strong>YESTERDAY</strong>
                </span>
                <br/>
                <span class="typo-vsmall-gray">
                23 hours ago
                </span>
            </div>
            <div class="col-sm-3 col-xs-4 typo-small">
            	Graphic designer needed
            </div>
            <div class="col-sm-2 col-xs-3">
            	<select name=""></select>
            </div>
            <div class="col-sm-1 col-xs-2">
            	PPP
            </div>
            <div class="col-sm-2  hidden-xs">
                <a href="#" class="btn-gray ajlist">
                   EXTEND
                </a>
            </div>
            <div class="col-sm-2 hidden-xs">
                <a href="#" class="btn-gray ajlist">
                   CANCEL
                </a>
            </div>
            
            <div class="col-xs-12 visible-xs">
            <br/>
                <a href="#" class="btn-gray ajlist-xs">
                   EXTEND
                </a>
                <a href="#" class="btn-gray ajlist-xs">
                   CANCEL
                </a>
            </div>

        </div>
        
        <div class="row aj-tr">
        	<div class="col-sm-2 col-xs-3">
            	<span class="typo-Vsmall">
                <strong>YESTERDAY</strong>
                </span>
                <br/>
                <span class="typo-vsmall-gray">
                23 hours ago
                </span>
            </div>
            <div class="col-sm-3 col-xs-4 typo-small">
            	Graphic designer needed
            </div>
            <div class="col-sm-2 col-xs-3">
            	<select name=""></select>
            </div>
            <div class="col-sm-1 col-xs-2">
            	PPP
            </div>
            <div class="col-sm-2  hidden-xs">
                <a href="#" class="btn-gray ajlist">
                   EXTEND
                </a>
            </div>
            <div class="col-sm-2 hidden-xs">
                <a href="#" class="btn-gray ajlist">
                   CANCEL
                </a>
            </div>
            
            <div class="col-xs-12 visible-xs">
            <br/>
                <a href="#" class="btn-gray ajlist-xs">
                   EXTEND
                </a>
                <a href="#" class="btn-gray ajlist-xs">
                   CANCEL
                </a>
            </div>

        </div>
        
        <div>
        	<div class="aj-paginate">
            	<a href="#" class="nxtprev">
                <img src="/temptest/img/icon_pagarrowprev.png" width="7" height="8">
                </a>
                <a href="#" class="count">
                1
                </a>
                <a href="#" class="count">
                2
                </a>
                <a href="#" class="count">
                3
                </a>
                <a href="#" class="nxtprev">
                <img src="/temptest/img/icon_pagarrow.png" width="7" height="8">
                </a>
            </div>
        </div>
        
            
        </div>
        
        <br/>
        
        <div class="row jdesc ">
        
        <p class="typo-medl">
        	<strong>JOB POST HISTORY (20)</strong>
        </p>
        
        <div class="row aj-head  typo-small-white">
        	<div class="col-sm-2 col-xs-4">
            	RECIEVED
            </div>
            <div class="col-sm-5 col-xs-6">
            	JOB
            </div>
            <div class="col-sm-1 col-xs-2">
            	PAYMENT
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        
        <div class="row aj-tr">
        	<div class="col-sm-2 col-xs-4">
            	<span class="typo-Vsmall">
                <strong>YESTERDAY</strong>
                </span>
                <br/>
                <span class="typo-vsmall-gray">
                23 hours ago
                </span>
            </div>
            <div class="col-sm-5 col-xs-6 typo-small">
            	Graphic designer needed
            </div>
            <div class="col-sm-1 col-xs-2">
            	PPP
            </div>
            <div class="col-sm-4  hidden-xs">
                <a href="#" class="btn-gray ajlist-repost">
                   REPOST JOB
                </a>
            </div>
            
            <div class="col-xs-12 visible-xs">
            <br/>
                <a href="#" class="btn-gray ajlist-repost">
                   REPOST JOB
                </a>
            </div>

        </div>
        
        
        
        <div>
        	<div class="aj-paginate">
            	<a href="#" class="nxtprev">
                <img src="/temptest/img/icon_pagarrowprev.png" width="7" height="8">
                </a>
                <a href="#" class="count">
                1
                </a>
                <a href="#" class="count">
                2
                </a>
                <a href="#" class="count">
                3
                </a>
                <a href="#" class="nxtprev">
                <img src="/temptest/img/icon_pagarrow.png" width="7" height="8">
                </a>
            </div>
        </div>
        </div>
        </div>
        
    </div>
    </div>
    <!-- form area //-->
