<!--<footer class="page-header">-->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/activejobfinder/web/aboutus">ABOUT US</a>
                </li>
                <li>
                    <a href="/activejobfinder/web/contactus">CONTACT</a>
                </li>
                <li>
                    <a href="/underconstruction">BLOG</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/activejobfinder/web/termsandconditions">TERMS AND CONDITIONS</a>
                </li>
                <li>
                    <a href="/activejobfinder/web/privacypolicy">PRIVACY POLICY</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--</footer>-->