<% layout(layoutPath) -%>

    <!--banner -->
    <div class="home-banner hidden-xs">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-4">
                </div>
                <div class="col-sm-2">
                	<a href="#" class="btn-blue login">
                    	LOGIN
                    </a>
                </div>
                <div class="col-sm-2">
                	<a href="/temptest/register" class="btn-blue login">
                    	REGISTER
                    </a>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
           	    <img src="/temptest/img/icon_socialmedia.png" width="120" height="112" class="social">
                </div>
            </div>
        </div>
    </div>
    <!--banner //-->

    <!-- search area -->
    <div class="container">

    <p class="text-center typo-large">
    <strong>
    SEARCH FROM
    <span class="typo-large-blue">18,738</span>
    JOBS
    </strong>
    </p>

    	<div class="home-search">
        	<div class="row form-row">
            	<div class="col-sm-4">
                	<input name="" type="text">
                </div>
                <div class="col-sm-4">
                	<div class="styled-select">
                        <select name="">
                        	<option>
                            Select your country
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                	<div class="styled-select">
                        <select name="">
                        	<option>
                            Select your Region
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-row">
            	<div class="col-sm-4">
                	<div class="styled-select">
                        <select name="">
                        	<option>
                            Job Sector
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                	<div class="styled-select">
                        <select name="">
                        	<option>
                            Job Type
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                	<div class="styled-select">
                        <select name="">
                        	<option>
                            Select your country
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                	<a href="/temptest/joblist" class="btn-search">
                    SEARCH
                    </a>
                </div>
            </div>
        </div>

        <!-- title -->
        <p class="text-center typo-large home-title">
        <strong>
        RECENT JOB LISTINGS
        </strong>
        </p>
        <!-- title //-->

        <div class="row home-joblist">
        	<div class="col-sm-3">
            	<div class="panels text-center">
           	    	<img src="/temptest/img/logo_dell.png" width="97" height="96">
                    <div class="text-center jobtitle">
                        JOB TITLE
                    </div>
                    <a href="/temptest/jobdetails" class="home-btnjob">
                    	VIEW
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
            	<div class="panels text-center">
           	    	<img src="/temptest/img/logo_dell.png" width="97" height="96">
                    <div class="text-center jobtitle">
                        JOB TITLE
                    </div>
                    <a href="/temptest/jobdetails" class="home-btnjob">
                    	VIEW
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
            	<div class="panels text-center">
           	    	<img src="/temptest/img/logo_dell.png" width="97" height="96">
                    <div class="text-center jobtitle">
                        JOB TITLE
                    </div>
                    <a href="/temptest/jobdetails" class="home-btnjob">
                    	VIEW
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
            	<div class="panels text-center">
           	    	<img src="/temptest/img/logo_dell.png" width="97" height="96">
                    <div class="text-center jobtitle">
                        JOB TITLE
                    </div>
                    <a href="/temptest/jobdetails" class="home-btnjob">
                    	VIEW
                    </a>
                </div>
            </div>
        </div>


    </div>
    <!-- search area //-->
