<% layout(layoutPath) -%>
    
  <div class="container canvas">    
	<div class="row">
		
    	<div class="sec-title col-sm-12">
          REGISTERATION		
        </div>
        </div>
    
 <div class="row">
    	<div class="col-sm-8">
        	<div class="form-area">
            	<div class="row">
                    <div class="col-sm-6">
                        <div class="flabel">
                        FIRST NAME
                        </div>
                        <input name="" type="text" class="finputxt">
                    </div>
                    <div class="col-sm-6">
                        <div class="flabel">
                        LAST NAME
                        </div>
                        <input name="" type="text" class="finputxt">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="flabel">
                        EMAIL ADDRESS
                        </div>
                        <input name="" type="text" class="finputxt">
                    </div>
                    <div class="col-sm-6">
                        <div class="flabel">
                        CONFIRM EMAIL ADDRESS
                        </div>
                        <input name="" type="text" class="finputxt">
                    </div>
                    <div class="col-sm-6">
                        <div class="flabel">
                        PASSWORD
                        </div>
                        <input name="" type="text" class="finputxt">
                    </div>
                    <div class="col-sm-6">
                        <div class="flabel">
                        CONFIRM PASSWORD
                        </div>
                        <input name="" type="text" class="finputxt">
                    </div>
                </div>
                
                
                
                <BR/>
                <div class="row">
                    <div class="col-sm-6">
                    	<div class="row">
                        	<div class="col-sm-8 no-pad">
                                <div class="flabel">
                                COMPANY NAME
                                </div>
                                <input name="" type="text" class="finputxt">
                            </div>
                            <div class="col-sm-4 no-pad">
                                <div class="flabel">
                                ENTITY
                                </div>
                                <select name="" class="finputxt">
                                      <option>
                                    try me
                                    </option> 
                                    
                                    <option>
                                    try me
                                    </option> 
                                    
                                    <option>
                                    try me
                                    </option>                              
                                </select>
                            </div>   
                        </div>
                    	<br/>
                        <div class="logoup-area row">
                        	<div class="col-sm-3 no-pad">
                            	<div class="thumb">
                                </div>
                            </div>
                            <div class="thumbinfo col-sm-9 no-pad"> 
                            It is important for prospective job hunters or employees to know an accredited company
                            <br/>
                            <a href="#" class="btn-img">
                            	SELECT IMAGE
                            </a>
                            </div>
                        </div>
                        <br/>
                        <div class="flabel">
                        BUSINESS SECTOR
                        </div>
                        <select name="" class="finputxt"></select>
                        
                        <div class="flabel">
                        WEBSITE
                        </div>
                        <input name="" type="text" class="finputxt">
                        
                        <div class="flabel">
                        COMPANY STAFF RANGE
                        </div>
                        <div class="radio">  
                            <input id="1" type="radio" name="gender" value="male">  
                            <label for="1" class="labelr">Male</label>
                            <input id="2" type="radio" name="gender" value="smale">  
                            <label for="2" class="labelr">Male</label>
                            <input id="3" type="radio" name="gender" value="smale">  
                            <label for="3" class="labelr">Male</label>   
                        </div> 
                        
                        <br/>
                        
                        
                        
                    </div>
                    
                    
                    <div class="col-sm-6">
                        <div class="flabel">
                        COUNTRY
                        </div>
                        <select name="" class="finputxt">
                        <option><img src="/temptest/img/icon_flag.png"></option>
                        </select>
                        
                        <div class="flabel">
                        STATE / REGION
                        </div>
                        <input name="" type="text" class="finputxt">
                        <div class="flabel">
                        ADDRESS
                        </div>
                        <input name="" type="text" class="finputxt">
                        <input name="" type="text" class="finputxt">
                        <input name="" type="text" class="finputxt">
                        
                        <div class="flabel">
                        TELEPHONE
                        </div>
                        <input id="tel-number" type="tel" class="mobile-number">
                        
                        <div class="flabel">
                        MOBILE PHONE
                        </div>
                        <input id="mobile-number" type="tel" class="mobile-number">
                        
                    </div>
                </div>
                
                
             <div class="terms">
                            <a href="#">
                            	TERMS AND CONDITIONS
                            </a>
                            <input name="" type="checkbox" value="">
                        </div>   
                
            </div>
            
            <!-- buttons -->
            <div class="right">
            		<a href="#" class="btn-sub">
                        REGISTER
                    </a>
                    <a href="#" class="btn-cancel">
                        CANCEL
                    </a>
            </div>
            <!-- buttons //-->
            
            
        </div>
        
        <div class="col-sm-4">
        
        	<div class="hidden-xs">
                <div class="ad-large">
                </div>
                <div class="ad-vsmall">
                </div>
                <div class="ad-med">
                </div>
                <div class="ad-small">
                </div>
            </div>
            <div class="visible-xs">
            	<div class="ad-mobile">
                </div>
            </div>
            
        </div>
        
    </div>
    </div>
    	 	      

