<% layout(layoutPath) -%>

    
    
    <!-- form area -->
    <div class="container"> 
    
    	<div class="row ">
        <div class="col-md-9">
     	
        <div class="row jdetail-head">
        	<div class="col-md-2 clogo-area">
            </div>
            <div class="col-md-7">
            <span class="typo-detail-ctitle">
            COMPANY NAME
            </span>
            <BR/>
            <span class="typo-detail-Jtitle">
            JOB TITLE
            </span>
            </div>
            <div class="col-md-3">
            <strong>Country:</strong><br/>
            Country:<br/><br/>
            <strong>Region/State:</strong><br/>
            Region:
            </div>
        </div>
        <div class="row jdesc ">
        	<span class="typo-small">
            <strong>JOB DESCRIPTION</strong>
            </span>
            <P>
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum	
            </P>
            <P>
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum	
            </P>
            <div class="param">
            <span class="typo-small">
            <strong>SALARY</strong>
            </span>
            <span class="typo-vsmall">
            25000 - 30000
            </span>
            </div>
            <div class="param">
            <span class="typo-small">
            <strong>TOOLS</strong>
            </span><br/>
            <span class="typo-vsmall">
            HTML, CSS Javascript
            </span>
            </div>
            <div class="param">
            <span class="typo-small">
            <strong>EDUCATION</strong>
            </span><br/>
            <span class="typo-vsmall">
            Qualification
            </span>
            </div>
            <div class="param">
            <span class="typo-small">
            <strong>CERTIFICATION</strong>
            </span><br/>
            <span class="typo-vsmall">
            certification
            </span>
            </div>
            <div class="param">
            <span class="typo-small">
            <strong>LOCATION</strong>
            </span><br/>
            <span class="typo-vsmall">
            location
            </span>
            </div>
            <div class="param">
            <span class="typo-small">
            <strong>MINIMUM EXPERIENCE</strong>
            </span><br/>
            <span class="typo-vsmall">
            experience
            </span>
            </div>
        </div>
            
            
            <!-- buttons -->
            <div class="right">
            		<a href="#" class="btn-cancel">
                        ATTACH CV
                    </a>
            		<a href="#" class="btn-sub">
                        SEND
                    </a>
            </div>
            <!-- buttons //-->
            
            </div>  
            
            <div class="col-md-2">  
            </div>
            
            </div>
            
        </div>
        
        
    </div>
    <!-- form area //-->