<% layout(layoutPath) -%>
    
    
    <!-- form area -->
    <div class="container"> 
    
    	<div class="row ">
        <div class="col-md-9">
     	
        <div class="row jdetail-head">
            <div class="col-sm-9 col-xs-8">
            <span class="typo-detail-ctitle">
            SEARCH RESULTS
            </span>
            <BR/><BR/>
            <strong>Couuntry:</strong><br/>
            Couuntry:<br/><br/>
            <strong>Region/State:</strong><br/>
            Region:
            </div>
            <div class="col-sm-3 col-xs-4 no-pad">

                <a href="#" class="btn-blue">
                    NEW SEARCH
                </a>
                
            </div>
        </div>
        <div class="row jdesc ">
        
        <p class="typo-medl">
        	<strong>SEARCH RESULTS (20)</strong>
        </p>
        
        <div class="row aj-head  typo-small-white">
        	<div class="col-sm-2 col-xs-3">

            </div>
        	<div class="col-sm-2 col-xs-2">
            	DATE POSTED
            </div>
            <div class="col-sm-5 col-xs-4">
            	JOB TITLE
            </div>
            <div class="col-sm-3 col-xs-3">
            	JOB TYPE
            </div>
        </div>
        
        <div class="row aj-tr">
        	<div class="col-sm-2 col-xs-3 typo-small">
				<div class="new-tag">
                	NEW
                </div>
            </div>
        	<div class="col-sm-2 col-xs-2">
            	<span class="typo-Vsmall">
                <strong>YESTERDAY</strong>
                </span>
                <br/>
                <span class="typo-vsmall-gray">
                23 hours ago
                </span>
            </div>
            <div class="col-sm-5 col-xs-4 typo-small">
            	Graphic designer needed
            </div>
            <div class="col-sm-3 col-xs-3">
            	PERMANENT
            </div>
        </div>

        <div>
        	<div class="aj-paginate">
            	<a href="#" class="nxtprev">
                <img src="/temptest/img/icon_pagarrowprev.png" width="7" height="8"> 
                </a>
                <a href="#" class="count">
                1
                </a>
                <a href="#" class="count">
                2
                </a>
                <a href="#" class="count">
                3
                </a>
                <a href="#" class="nxtprev">
                <img src="/temptest/img/icon_pagarrow.png" width="7" height="8"> 
                </a>
            </div>
        </div>
        
            
        </div>
        
        
        </div>
        
    </div>
    </div>
    <!-- form area //-->
