<% layout(layoutPath) -%>
    
    
    <!-- form area -->
    <div class="container"> 
    
    	<div class="row">
        <div class="col-md-9">
     	
        <div class="row">
            <div class="sec-title col-sm-12">
              JOB POST		
            </div>
        </div>
        
        <div class="row form-area">
        	<div class="col-md-6">
            	<div class="flabel">
                JOB TITLE
                </div>
                <input name="" type="text" class="finputxt">
                <div class="flabel">
                JOB description
                </div>
                <textarea class="finputxt"></textarea>
        		
                
                <div class="flabel">
                JOB TYPE
                </div>
                <div class="radio">  
                    <input id="1" type="radio" name="gender" value="male">  
                    <label for="1" class="labelr">P</label>
                    <input id="2" type="radio" name="gender" value="smale">  
                    <label for="2" class="labelr">C</label>
                    <input id="3" type="radio" name="gender" value="smale">  
                    <label for="3" class="labelr">T</label>
                    <input id="3" type="radio" name="gender" value="smale">  
                    <label for="3" class="labelr">I</label>    
                </div>
                
                <div class="flabel">
                EMAIL ADDRESS
                </div>
                <input name="" type="text" class="finputxt">
                
                <div class="flabel">
                JOB LOCATION
                </div>
                <input name="" type="text" class="finputxt">
                
                
                <div class="flabel">
                MINIMUM YEARS EXPERIENCE
                </div>
                <input name="" type="text" class="finputxt">
                
                <div class="flabel">
                JOB POSTING DURATION
                </div>
                <select name="" class="finputxt">
                      <option>
                    try me
                    </option> 
                    
                    <option>
                    try me
                    </option> 
                    
                    <option>
                    try me
                    </option>                              
                </select>
                
                </div>
                
                
                
                
                <div class="col-md-6">
                
                	<div class="row">
                    
                    	<div class="col-md-8">
                        	<div class="flabel">
                            TECHNICAL SKILLS
                            </div>
                        </div>
                        <div class="col-md-3">
                        	<div class="flabel">
                            REQUIRED
                            </div>
                        </div>
                    
                    	<div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                    </div>
                    
                    
                    <div class="row">
                    
                    	<div class="col-md-8">
                        	<div class="flabel">
                            TOOLS
                            </div>
                        </div>
                        <div class="col-md-3">
                        	<div class="flabel">
                            REQUIRED
                            </div>
                        </div>
                    
                    	<div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                    </div>
                    
                    
                    <div class="row">
                    
                    	<div class="col-md-8">
                        	<div class="flabel">
                            EDUCATION
                            </div>
                        </div>
                        <div class="col-md-3">
                        	<div class="flabel">
                            REQUIRED
                            </div>
                        </div>
                    
                    	<div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                    </div>
                    
                    
                    <div class="row">
                    
                    	<div class="col-md-8">
                        	<div class="flabel">
                            CERTIFICATION
                            </div>
                        </div>
                        <div class="col-md-3">
                        	<div class="flabel">
                            REQUIRED
                            </div>
                        </div>
                    
                    	<div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                        <div class="col-md-8">
                        	<input name="" type="text" class="finputxt">
                        </div>
                        <div class="col-md-3">
                        	<input name="" type="checkbox" value="">
                        </div>
                    </div>
                
            	</div> 
                
        	</div>
            
            
            <!-- buttons -->
            <div class="right">
            		<a href="#" class="btn-sub">
                        PUBLISH
                    </a>
                    <a href="#" class="btn-cancel">
                        CANCEL
                    </a>
            </div>
            <!-- buttons //-->
            
            </div>  
            
            <div class="col-md-2">  
            </div>
            
            </div>
            
        </div>
