<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJF</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!--<link rel="stylesheet" href="css/foundation.css" />-->
    <link rel="stylesheet" href="/temptest/css/bootstrap.css" />
    <link rel="stylesheet" href="/temptest/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/temptest/css/intlTelInput.css">
    <!--    <link rel="stylesheet" href="css/demo.css">-->
    <link rel="stylesheet" href="/temptest/css/custom.css" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <script src="temptest/js/vendor/modernizr.js"></script>


    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!--<script src="/js/jquery-1.11.1.min.js"></script>-->

    <!--<link rel="stylesheet" href="/build/css/intlTelInput.css">-->

    <!--<link rel="stylesheet" href="/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />-->
    <!--<link rel="stylesheet" href="/css/jasnybootstrap.css" />-->
    <link rel="stylesheet" href="/js/select2.css"/>
    <!--<link rel="stylesheet" href="/css/jquery.validate.password.css" />-->

    <!--<script src="/js/jquery.validate.js"></script>-->
    <script src="/js/select2.js"></script>
    <!--<script src="/js/bootstrap.min.js"></script>-->

    <!--Others-->
    <script src="/build/js/intlTelInput.min.js"></script>
    <!--Jasny Bootstrap for File Upload-->
    <script src="/js/jasnybootstrap.js"></script>
    <!--Password validate-->
    <!--<script src="/js/jquery.validate.password.js"></script>-->

</head>

<body>
<div class="container"></div>
<% include header.ejs %>


<div class="container-fluid" style="margin-top: 100px;margin-bottom: 100px" >

    <!--<div class="container">-->

        <% include alert_messages.ejs %>

        <%- body -%>
    <!--</div>-->
</div>

<% include footer.ejs %>

<script src="temptest/js/intlTelInput.js"></script>
<script>
    $(".mobile-number").intlTelInput({
        //autoFormat: false,
        //autoHideDialCode: false,
        //defaultCountry: "jp",
        //nationalMode: true,
        //numberType: "MOBILE",
        //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        //preferredCountries: ['cn', 'jp'],
        //responsiveDropdown: true,
        utilsScript: "lib/libphonenumber/build/utils.js"
    });
</script>
</body>
</html>
