<% layout(layoutPath) -%>
<div class="container">
<div class="col-lg-offset-4">

    <p>Welcome! <a href="/activejobfinder/web/companies/register/0">Create an account</a> or login below:</p>
    <div class="well col-md-5"  >
        <form action="/activejobfinder/web/company/login" method="post" >
            <input type="hidden" name="postAuthDestination" value="<%=postAuthDestination%>">

            <div class="row" >
                    <div class="form-group" >
                        <label class="control-label" for="username" >User Name*</label>
                        <input type="text" class="form-control" id="username" placeholder="User Name" required="" name="username">
                    </div>
                </div>
            <div class="row" >
                    <div class="form-group"  >
                        <label class="control-label" for="password" >Password*</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Password" required="" name="lastName" >
                    </div>

            </div>
            <div class="row" >
                <a href="/activejobfinder/web/users/reset_password">Forgot your password?</a>
            </div>
            <br><br>
            <div class="row" >
                    <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
                    <button type="submit" class="btn btn-default btn-block" >CANCEL</button>
            </div>

        </form>

    </div>
</div>
</div>