<% layout(layoutPath) -%>
<style>
    .my-error-class {
        color:red;/*#FF0000;  /* red */
    }
    .my-valid-class {
        color:green;/*#00CC00; /* green */
    }
    #errorContainer {
        display: none;
        overflow: auto;
        background-color: #FFDDDD;
        border: 1px solid #FF2323;
        padding-top: 0;
    }

    #errorContainer label {
        float: none;
        width: auto;
    }

    input.error {
        border: 1px solid #FF2323;
    }
</style>

<script type="text/javascript">

    function telInputField(phoneField, err_msg, valid_msg){
        var telInput = $(phoneField),
                errorMsg = $(err_msg),
                validMsg = $(valid_msg);

        // initialise plugin
        telInput.intlTelInput({
            utilsScript: "/build/js/utils.js"
        });

        // on blur: validate
        telInput.blur(function() {
            if ($.trim(telInput.val())) {
                if (telInput.intlTelInput("isValidNumber")) {
                    validMsg.removeClass("hide");
                } else {
                    telInput.addClass("error");
                    errorMsg.removeClass("hide");
                    validMsg.addClass("hide");
                }
            }
        });

        // on keydown: reset
        telInput.keydown(function() {
            telInput.removeClass("error");
            errorMsg.addClass("hide");
            validMsg.addClass("hide");
        });
    }

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                console.log(e.target.result);
                document.getElementById('blah').src=e.target.result
            }

            reader.readAsDataURL(input.files[0]);
        }
        else
        {
            console.log('else executed');
            $('#blah').attr('src', '/images/placeholder-logo.png');
        }
    }

    function onChangeCountry(element){

            $.getJSON('/activejobfinder/web/regions/'+$(element).val(), function(data) {

            var stateOrRegion = '';
            if(data[0].type == '0'){
                stateOrRegion = 'Region';
            }else if(data[0].type == '1'){
                stateOrRegion = 'State';
            }
            else if(data[0].type == '2'){
                stateOrRegion = 'Province';
            }
            else if(data[0].type == '3'){
                stateOrRegion = 'District';
            }
            else{
                stateOrRegion = ' ';
            }


            $("#regionlabel").html(stateOrRegion+'*');
            $("#citylabel").html('*');


            console.log('Region ' + data);

            var regionsData = [];

            for(var i=0; i < data.length; i++){
                var regionObj = {};
                regionObj.id = data[i].region_id;
                regionObj.text = data[i].regionname;
                regionsData.push(regionObj);
            }


            console.log(regionsData);
            $("#region").select2('val', 'All');
            $("#region").select2({
                placeholder: "Select " + stateOrRegion ,
                allowClear: true,
                width : "100%",
                dropdownAutoWidth : true,
                minimumResultsForSearch: -1,
                data: regionsData
            });
        });
    }

    function onChangeRegion(element){

            $.getJSON('/activejobfinder/web/cities/'+$(element).val(), function(data) {


            var city = '';
            if(data[0].type == '0'){
                city = 'Settlement';
            }else if(data[0].type == '1'){
                city = 'City';
            }
            else if(data[0].type == '2'){
                city = 'LGA';
            }
            else if(data[0].type == '3'){
                city = 'District';
            }
            else{
                city = ' ';
            }
            $("#city").select2('val', 'All');

            $("#citylabel").html(city+'*');

            var citiesData = [];

            for(var i=0; i < data.length; i++){
                var cityObj = {};
                cityObj.id = data[i].city_id;
                cityObj.text = data[i].cityname;
                citiesData.push(cityObj);
            }

            $("#city").select2({
                placeholder: "Select "+city,
                allowClear: true,
                width : "100%",
                dropdownAutoWidth : true,
                minimumResultsForSearch: -1,
                data: citiesData
            });
            console.log('City ' + data);
        });
    }

    function agreed(){
        $("#businessterms").val('agreed');
    }

    function imageselected(){
        $("#imageselect").val('selected');
    }

    function imageremoved(){
        $("#imageselect").val('');
    }

    function setCountrybyISOCode(code){

        $("#phone").intlTelInput("selectCountry", code);
        $("#phone2").intlTelInput("selectCountry", code);
        $("#mobile1").intlTelInput("selectCountry", code);
        $("#mobile2").intlTelInput("selectCountry", code);
    }

    $( document ).ready(function() {

        $("#country").select2({placeholder: "Select Country",
            allowClear: true, width : '100%', dropdownAutoWidth : true,minimumResultsForSearch: -1});
        $("#jobsector_id").select2({placeholder: "Select Business Sector",
            allowClear: true, width : '100%', dropdownAutoWidth : true,minimumResultsForSearch: -1});
        $("#companytitle").select2({placeholder: "Select Company Title",
            allowClear: true, width : '100%', dropdownAutoWidth : true,minimumResultsForSearch: -1});
        $("#companytype").select2({placeholder: "Select Company Type",
            allowClear: true, width : '100%', dropdownAutoWidth : true,minimumResultsForSearch: -1});
        $("#region").select2({placeholder: "Select Province/Region/State/District",
            allowClear: true, width : '100%', dropdownAutoWidth : true,minimumResultsForSearch: -1
            ,data:[]
        });
        $("#city").select2({placeholder: "Select City/Settlement/LGA/District",
            allowClear: true, width : '100%', dropdownAutoWidth : true,minimumResultsForSearch: -1,data:[]  });


        $('#country').on('select2-clearing', function(event) {

            $("#phone").intlTelInput("destroy");
            $("#phone2").intlTelInput("destroy");
            $("#mobile1").intlTelInput("destroy");
            $("#mobile2").intlTelInput("destroy");


            $('#region').select2("container").hide();
            $('#city').select2("container").hide();


            console.log('Values is Cleared');
        });

        $('#region').on('select2-clearing', function(event) {
            $('#city').select2("container").hide();

            console.log('Values is Cleared');
        });


        $.validator.addMethod("passwordregex", function(value, element) {
            return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                    && /[A-Z]/.test(value) // has a lowercase letter
                    && /\d/.test(value) // has a digit
        }, "Please provide at least 1 UPPERCASE letter, 1 NUMBER in the password combination");

        $.validator.addMethod("passworddigit", function(value, element) {
            return /\d/.test(value) // has a digit
        }, "Please provide at one NUMBER in the password");

        $.validator.addMethod("passwordupper", function(value, element) {
            return /[A-Z]/.test(value) // has a lowercase letter

        }, "Please provide at least one UPPERCASE letter in the password");

        $.validator.addMethod("addressfieldcheck", function(value, element) {
            return /^[A-Za-z0-9\d'\-`èé ]*$/.test(value) // consists of only these
        }, "Please provide a valid address. No special characters allowed.");

        $.validator.addMethod("namefieldcheck", function(value, element) {
            return /^[A-Za-z'\-`èé ]*$/.test(value) // consists of only these
        }, "Please provide a valid name. No special characters and digits allowed.");


//        Jquery Validation Scripts
        $("#companyreg").validate({
            ignore: [],
            rules: {
                firstName: {
                    required : true,
                    namefieldcheck: true
                },
                lastName: {
                    required :true,
                    namefieldcheck: true
                },

                staff_range: {
                    required: true
                },

                businessterms:{
                    required: true
                },
                imageselect:{
                    required: true
                },

                username: {

                    required: true,
                    email: true,
                    equalTo: "#email"
                },
                password: {
                    required: true,
                    minlength: 8,
//                    passwordregex: true,
                    passworddigit: true,
                    passwordupper: true
                },
                passwordConfirmation: {
                    required: true,
                    equalTo: "#password"
                },
                companyname: {
                    required: true,
                    minlength: 2,
                    namefieldcheck: true
                },
                email: {
                    required: true,
                    email: true
                },
                jobsector_id: {
                    required: true
                },
                country_id: {
                    required: true
                },
                region_id: {
                    required: true
                },
//                city_id: {
//                    required: true
//                },
                companytype: {
                    required: true
                },
                mobile1: {
                    required: true
                },

                companytitle: {
                    required: true
                },
                address1: {

                    addressfieldcheck: true,
                    required:true
                },
                address3: {

                    addressfieldcheck: true
                },
                address2: {

                    addressfieldcheck: true
                },

                agree: "required"
            },
            messages: {

                firstName: {
                    required:"Please enter your firstname"
                },
                imageselect: "Please select your company logo",
                lastName: {
                    required: "Please enter your lastname"
                },
                jobsector_id: "Please select a business sector",
                country_id: "Please select a country",
                region_id: "Please select a region/state/province/disctrict",
//                city_id: "Please select a city",
                companytype: "Please select company type",
                companytitle: "Please select company title",
                mobile1: "Please enter the mobile number",
//                username: {
//                    required: "Please enter a username",
//                    minlength: "Your username must consist of at least 2 characters"
//                },
                staff_range: {
                    required: "Please provide staff range(s)"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Please provide minimum of 8 Alphanumeral password combination"
                },
                passwordConfirmation: {
                    required: "Please provide confirm password",
                    minlength: "Please provide minimum of 8 Alphanumeral password combination",
                    equalTo: "Please enter the same password as above"
                },
                companyname: {
                    required: "Please provide a company name",
                    minlength: "Your Company Name must be at least 2 characters long"
                },
                username: {
                    required: "Please provide confirm email",
                    equalTo: "Please enter the same email address"
                },
                address1: {
                    required: "Please provide address"
                },
                email: "Please enter a valid email address",
                businessterms: "Please agree business sector terms and conditions",
                agree: "Please accept our terms and conditions"
            },
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            errorContainer: $('#errorContainer'),
            errorLabelContainer: $('#errorContainer ul'),
            wrapper: 'li'
        });


//        telInputField('#phone');//, '#phone-error-msg','#phone-valid-msg');
//        telInputField('#phone2');//, '#phone2-error-msg','#phone2-valid-msg');
//        telInputField('#mobile1');//, '#mobile1-error-msg','#mobile1-valid-msg');
//        telInputField('#mobile2');//, '#mobile2-error-msg','#mobile2-valid-msg');




        $('#region').select2("container").hide();
        $('#city').select2("container").hide();

        // Select 2 Related Scripts
        $('#country').on('change', function() {

            $("#phone").intlTelInput({
                defaultCountry: "",
                onlyCountries: ["ng","zm", "ug","mu", "ke", "gh", "tz"],
                utilsScript: "/build/js/utils.js" // just for formatting/placeholders etc
            });
            $("#phone2").intlTelInput({
                defaultCountry: "",
                onlyCountries: ["ng","zm", "ug","mu", "ke", "gh", "tz"],
                utilsScript: "/build/js/utils.js" // just for formatting/placeholders etc
            });
            $("#mobile1").intlTelInput({
                defaultCountry: "",
                onlyCountries: ["ng","zm", "ug","mu", "ke", "gh", "tz"],
                utilsScript: "/build/js/utils.js" // just for formatting/placeholders etc
            });
            $("#mobile2").intlTelInput({
                defaultCountry: "",
                onlyCountries: ["ng","zm", "ug","mu", "ke", "gh", "tz"],
                utilsScript: "/build/js/utils.js" // just for formatting/placeholders etc
            });

            console.log($(this).find(":selected").text());

            var selectedCountry = $(this).find(":selected").text().trim();

            if(selectedCountry == "GHANA" ){
                console.log('GHANA SELECTED');
                setCountrybyISOCode("gh");
            }
            else if(selectedCountry == 'KENYA'){
                setCountrybyISOCode("ke");
            }
            else if(selectedCountry == 'MAURITIUS'){
                setCountrybyISOCode("mu");
            }
            else if(selectedCountry == 'NIGERIA'){
                setCountrybyISOCode("ng");

            }
            else if(selectedCountry == 'TANZANIA'){
                setCountrybyISOCode("tz");

            }
            else if(selectedCountry == 'UGANDA'){
                setCountrybyISOCode("ug");

            }

            else if(selectedCountry == 'ZAMBIA'){
                setCountrybyISOCode("zm");

            }
            $('#region').select2("container").hide();
            $('#city').select2("container").hide();
            onChangeCountry(this);
        });

        $('#region').on('change',function() {
            console.log('region changed');
            onChangeRegion(this);
        });

        $("#imgInp").change(function(){
            console.log('on Change Called');
            readURL(this);
        });

        $("#clear").click( function(){

            $("#blah").attr('src','/images/placeholder-logo.png');
        });


    });

</script>
<div class="row">
        <div class="col-md-9" >
            <div class="container-fluid" >
                <h3>REGISTRATION</h3>
                <div id="errorContainer">
                    <p>Please correct the following errors and try again:</p>
                    <ul />
                </div>
                    <form role="form" action="/activejobfinder/web/users/company/register" method="post" id="companyreg" class="cmxform"
                          enctype="multipart/form-data">
                        <div class="well">
                        <!--************************** 1st Row ****************************-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="firstName">First Name*</label>
                                    <input type="text" class="form-control input-sm" id="firstName" placeholder="First Name"  name="firstName" value="<%=  users.firstName || ""%>" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="lastname">Last Name*</label>
                                    <input type="text" class="form-control input-sm" id="lastname" placeholder="Last Name"  name="lastName" value="<%=  users.lastName || ""%>">
                                </div>
                            </div>
                        </div>
                        <!--************************** 2nd Row ****************************-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email Address*</label>
                                    <input type="email" class="form-control input-sm" id="email" placeholder="Email Address"  name="email" value="<%=  users.email || ""%>">
                                </div>
                            </div>
                            <div class="col-md-6"  >
                                <div class="form-group" >
                                    <label class="control-label" for="username">Confirm Email Address*</label>
                                    <input type="email" class="form-control input-sm" id="username" placeholder="Confirm Email Address"  name="username"  value="<%=  users.username || ""%>">
                                </div>
                            </div>
                        </div>
                        <!--************************** 3rd Row ****************************-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="password">Password*</label>
                                    <input type="password" class="form-control input-sm" id="password" placeholder="Password"
                                           name="password">
                                    <!--<div class="password-meter">-->
                                        <!--<div class="password-meter-message"> </div>-->
                                        <!--<div class="password-meter-bg">-->
                                            <!--<div class="password-meter-bar"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="confirm_password">Confirm Password*</label>
                                    <input type="password" class="form-control input-sm" id="confirm_password" placeholder="Confirm Password"
                                           name="passwordConfirmation">
                                </div>
                            </div>
                        </div>
                        <!--************************** 4rth Row ****************************-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table  >
                                                <tr>
                                                    <td>*
                                                        <!--<img id="blah" src="/images/placeholder-logo.png"  alt="your image" width="170px" height="150px" /></td>-->
                                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="fileupload-new thumbnail" style="width: 180px; height: 150px;"><img src="/images/placeholder-logo.png"/></div>
                                                            <div class="fileupload-preview fileupload-exists thumbnail" style=" max-height: 500px;max-width: 500px"></div>
                                                            <div>
                                                                <span class="btn btn-primary btn-sm btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" onclick="imageselected()" accept="image/*" value="companylogo" name="logo_image"></span>
                                                                <a href="#" onclick="imageremoved()" class="btn btn-primary btn-sm fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                                <input type="hidden" id="imageselect" name="imageselect"/>
                                                            </div>
                                                        </div>
                                                        <!--<div class="fileupload fileupload-new" data-provides="fileupload">-->
                                                            <!--<!--<div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"><img  src="/images/placeholder-logo.png"/></div>-->
                                                            <!--<div class="fileupload-new thumbnail" style="width: 180px; height: 150px;"><img  src="/images/placeholder-logo.png"/></div>-->
                                                            <!--<div class="fileupload-preview fileupload-exists thumbnail" style="width: 180px; height: 150px;">-->
                                                                <!--<img  src="/images/placeholder-logo.png"/>-->
                                                            <!--</div>-->
                                                            <!--<div>-->
                                                                <!--<span class="btn btn-primary btn-sm btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" accept="image/*" value="companylogo" name="logo_image"></span>-->
                                                                <!--<a href="#" class="btn btn-primary btn-sm fileupload-exists" data-dismiss="fileupload">Remove</a>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <td  style="font-size: 12px;padding: 10px 10px 10px 10px;vertical-align:middle ">It is important for prospective job hunters or employees to know an accredited company</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-6" align="center" style="margin-top: 5px" >-->
                                            <!--<a href="#" class="btn btn-primary btn-xs btn-sm" onclick="document.getElementById('imgInp').click(); return false;" />Select Image</a>-->
                                            <!--<input type="file" class="btn btn-primary btn-sm" id="imgInp" accept="image/*" value="companylogo" name="logo_image" style="visibility: hidden;display: none" />-->
                                            <!--<a id="clear" class="btn btn-primary btn-xs btn-sm" />Clear</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <!--************************** 5th Row ****************************-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="companyname">Company Name*</label>
                                    <input type="text" class="form-control input-sm" id="companyname" placeholder="Company Name"  name="companyname" value="<%=  companies.companyname || ""%>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="control-label" for="entity">Entity*</label>
                                    <br>
                                    <select name="companytitle" id="companytitle"   style="margin-bottom: 10px">
                                        <option></option>
                                        <!--<option value="" disabled selected>Select Company Title</option>-->
                                        <!--<option value = "Ltd" >Private company limited by shares</option>-->
                                        <!--<option value = "Llp" >Limited liability partnership</option>-->
                                        <!--<option value = "Llc" >Limited liability company </option>-->
                                        <!--<option value = "Plc" >Public limited company</option>-->
                                        <!--<option value = "S-Corp" >S corporation</option>-->
                                        <!--<option value = "C-Corp" >C corporation</option>-->

                                        <option value = "Ltd" <%= (companies.companytitle != null) && ('Ltd'== companies.companytitle) ? 'selected = "selected"' : ''%> >Private company limited by shares</option>
                                        <option value = "Llp" <%= (companies.companytitle != null) && ('Llp'== companies.companytitle) ? 'selected = "selected"' : ''%>>Limited liability partnership</option>
                                        <option value = "Llc" <%= (companies.companytitle != null) && ('Llc'== companies.companytitle) ? 'selected = "selected"' : ''%>>Limited liability company </option>
                                        <option value = "Plc" <%= (companies.companytitle != null) && ('Plc'== companies.companytitle) ? 'selected = "selected"' : ''%>>Public limited company</option>
                                        <option value = "S-Corp" <%= (companies.companytitle != null) && ('S-Corp'== companies.companytitle) ? 'selected = "selected"' : ''%>>S corporation</option>
                                        <option value = "C-Corp" <%= (companies.companytitle != null) && ('C-Corp'== companies.companytitle) ? 'selected = "selected"' : ''%>>C corporation</option>


                                    </select>

                                </div>
                            </div>
                        </div>
                        <!--************************** 6th Row ****************************-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" >

                                    <label class="control-label" for="jobsector">Business Sector*</label>
                                    <br>
                                    <select name="jobsector_id" class="" id="jobsector_id" class="required" style="margin-bottom: 5px">
                                        <option></option>
                                        <% jobsectors.forEach(function (jobsector) { %>
                                        <!--<option value = "<%= jobsector.jobsector_id %>" ><%= jobsector.businesssector %></option>-->
                                        <option value = "<%= jobsector.jobsector_id %>" <%= (companies.jobsector_id  != null) && (companies.jobsector_id  == jobsector.jobsector_id ) ? 'selected = "selected"' : ''%>><%= jobsector.businesssector %> </option>
                                        <% }); %>
                                    </select>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-xs btn-sm btn-danger" data-toggle="modal" data-target="#myModal" style="margin-bottom: 10px">
                                        Check Business Sector Terms & Conditions
                                    </button>


                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Business Sector Warning!</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Business Sector cannot be changed once you registered.
                                                    You have to make a requesition to Active Job Finder for ammending the Bussiness Sector.
                                                    It may apply ammendment charges based on the policies.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="agreed()">Agree</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="control-label" for="companytype">Company Type*</label>
                                    <br>
                                    <select name="companytype"  id="companytype" style="margin-bottom: 10px">
                                        <option></option>
                                        <option value = "agency" <%= (companies.companytype != null) && ('agency'== companies.companytype) ? 'selected = "selected"' : ''%> >Recruiter / Agency</option>
                                        <option value = "employer"<%= (companies.companytype != null) && ('employer'== companies.companytype) ? 'selected = "selected"' : ''%>  >Direct Employer</option>

                                    </select>
                                </div>

                            </div>
                        </div>
                        <!--************************** 7th Row ****************************-->
                        <div class="row">
                                <div class="col-md-6" id="countrydiv">
                                    <div class="form-group">
                                        <label class="control-label" for="country">Country*</label>
                                        <select name="country_id"     id="country" >
                                            <!--<option value="" disabled selected>Select Country</option>-->
                                            <option></option>
                                            <% countries.forEach(function (country) { %>
                                            <!--<option value = "<%= country.country_id %>" ><%= country.countryname %></option>-->
                                            <option value = "<%= country.country_id %>" <%= (companies.country_id  != null) && (companies.country_id  == country.country_id) ? 'selected = "selected"' : ''%>><%= country.countryname %> </option>
                                            <% }); %>
                                        </select>

                                        <input type="hidden" name="region_id" id="region" style="margin-top: 17px">
                                            <option></option>
                                        </input>

                                        <input type="hidden" name="city_id" id="city">
                                            <option></option>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="form-group" >

                                        <label class="control-label"  >Address*</label>
                                        <input type="text" class="form-control input-sm" id="address1" name="address1" placeholder="Address"  value="<%=  companies.address1 || ""%>"  >
                                        <input type="text" class="form-control input-sm" id="address2" name="address2" placeholder="Street / Road Name"   value="<%=  companies.address2 || ""%>">
                                        <input type="text" class="form-control input-sm" id="address3" name="address3" placeholder="Street / Road Name"   value="<%=  companies.address3 || ""%>" >

                                    </div>
                                </div>

                            </div>

                        <!--************************** 9th Row ****************************-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="control-label" for="phone">Telephone</label>
                                    <br>

                                    <input type="tel"   class="form-control input-sm" name="phone1" id="phone" placeholder="Phone 1" value="<%=  companies.phone1 || ""%>"  >
                                    <span id="phone-valid-msg" class="hide my-valid-class">✓ Valid</span>
                                    <span id="phone-error-msg" class="hide my-error-class">Invalid number</span>

                                    <input type="tel" class="form-control input-sm" name="phone2" id="phone2" placeholder="Phone 2" value="<%=  companies.phone2 || ""%>">
                                    <span id="phone2-valid-msg" class="hide my-valid-class">✓ Valid</span>
                                    <span id="phone2-error-msg" class="hide my-error-class">Invalid number</span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="control-label" for="mobile1"  >Mobile*</label>
                                    <br>
                                    <input type="text" class="form-control input-sm" id="mobile1" name="mobile1" placeholder="Mobile 1" value="<%=  companies.mobile1 || ""%>"  >
                                    <span id="mobile1-valid-msg" class="hide my-valid-class">✓ Valid</span>
                                    <span id="mobile1-error-msg" class="hide my-error-class">Invalid number</span>
                                    <input type="text" class="form-control input-sm" id="mobile2" name="mobile2" placeholder="Mobile 2" value="<%=  companies.mobile2 || ""%>" >
                                    <span id="mobile2-valid-msg" class="hide my-valid-class">✓ Valid</span>
                                    <span id="mobile2-error-msg" class="hide my-error-class">Invalid number</span>

                                </div>
                            </div>

                        </div>
                        <!--************************** 10th Row ****************************-->
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" for="site">Website</label>
                                <input type="url" class="form-control input-sm" id="site" placeholder="Website" name="website" value="<%=  companies.website || ""%>" >
                            </div>
                        </div>
                        <br>
                        <!--************************** 11th Row ****************************-->
                        <div class="row">
                            <div class="col-md-6">

                                <label class="control-label" for="staff" >Company Staff Range*</label>
                                <div class="radio" id="staff" >
                                    <label class="control-label" style="margin-right:10px"  >
                                        <input type="radio" name="staff_range" value="1-20"  <%= (companies.staff_range != null) && ('1-20'== companies.staff_range) ? 'checked = "checked"' : ''%>  >
                                        1-20
                                    </label>
                                    <label class="control-label" style="margin-right:10px" >
                                        <input type="radio" name="staff_range" value="21-50"  <%= (companies.staff_range != null) && ('21-50'== companies.staff_range) ? 'checked = "checked"' : ''%>    >
                                        21-50
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" name="staff_range" value="50+"   <%= (companies.staff_range != null) && ('50+'== companies.staff_range) ? 'checked = "checked"' : ''%>  >
                                        50+
                                    </label>
                                </div>

                            </div>

                        </div>
                        <br>
                        <div class="checkboxdiv" >
                            <label for="checkbox"><a href="/activejobfinder/web/termsandconditions">TERMS AND CONDITIONS</a></label>
                            <input id="businessterms"  type="hidden" name="businessterms"/>
                            <input type="checkbox" name="agree" id="checkbox"/>
                            <!---->
                            <!--<label class="control-label"  >-->
                                <!--<input type="checkbox" name="agree" >  <a href="/activejobfinder/web/termsandconditions"> TERMS AND CONDITIONS </a>-->
                            <!--</label>-->
                        </div>
                        </div>
                        <!--************************** 11th Row ****************************-->

                        <div class="row">
                            <div class=" col-md-2 col-md-offset-8">
                                <button type="submit" name="commit" class="btn btn-primary btn-block" >REGISTER</button>
                            </div>
                            <div class="col-md-2">
                                <!--<button type="submit" class="btn btn-default btn-block">CANCEL</button>-->
                                <!--<input type="reset" value="CANCEL" class="btn btn-default btn-block" >-->
                                <a href="/" type="button" class="btn btn-default btn-block">CANCEL</a>
                            </div>
                        </div>
                        <input type="hidden" name="type" value="3" />
                        <input type="hidden" name="active" value="active" />
                    </form>
        </div>
    </div>
<!--<div class="col-md-3 text-center">-->
    <!--<img src="/images/adPlaceholder.jpg" width="200"/>-->
    <!--<h3></h3>-->
    <!--<img src="/images/adPlaceholder.jpg" width="200"/>-->
    <!--<h3></h3>-->
    <!--<img src="/images/adPlaceholder.jpg" width="200"/>-->
    <!--<h3></h3>-->
    <!--<img src="/images/adPlaceholder.jpg" width="200"/>-->
<!--</div>-->
</div>