<% layout(layoutPath) -%>
<style>
    .my-error-class {
        color:#FF0000;  /* red */
    }
    .my-valid-class {
        color:#00CC00; /* green */
    }
</style>

<script type="text/javascript">

    $( document ).ready(function() {

        $("#country").select2({placeholder: "Select Country",
            allowClear: true, width : 230, dropdownAutoWidth : true});
        $("#jobsector").select2({placeholder: "Select Business Sector",
            allowClear: true, width : 230, dropdownAutoWidth : true});
        $("#companytitle").select2({placeholder: "Select Company Title",
            allowClear: true, width : 230, dropdownAutoWidth : true});
        $("#companytype").select2({placeholder: "Select Company Type",
            allowClear: true, width : 230, dropdownAutoWidth : true});
        $("#region").select2({placeholder: "Select Region/State",
            allowClear: true, width : 230, dropdownAutoWidth : true});
        $("#city").select2({placeholder: "Select City",
            allowClear: true, width : 230, dropdownAutoWidth : true});

        // Select 2 Related Scripts
        $('#country').on('change', function() {

            var dataRegion = [{}];
        $.getJSON('http://activejobfinder.com/activejobfinder/web/regions/'+$('#country').val(), function(data) {
//            $.getJSON('http://localhost:3000/activejobfinder/web/regions/'+$(this).val(), function(data) {

                var stateOrRegion = '';
                if(data[0].type == '0'){
                    stateOrRegion = 'Region';
                }else if(data[0].type == '1'){
                    stateOrRegion = 'State';
                }
                else if(data[0].type == '2'){
                    stateOrRegion = 'Province';
                }
                else{
                    stateOrRegion = 'Region/State';
                }


//                $("#region").empty();
                $("#region").select2({
                    placeholder: "Select " + stateOrRegion ,
                    allowClear: true, width : 230, dropdownAutoWidth : true
                });
                $("#city").select2({
                    placeholder: "Select City",
                    allowClear: true, width : 230, dropdownAutoWidth : true
                });

                console.log('Region ' + data);


                $.each(data, function() {

                    $('#region').append(new Option(this.regionname, this.region_id ));
                });
            });
        });

        $('#region').on('change', function() {
            console.log('region changed');
            $.getJSON('http://activejobfinder.com/activejobfinder/web/cities/'+$(this).val(), function(data) {
//            $.getJSON('http://localhost:3000/activejobfinder/web/cities/'+$(this).val(), function(data) {

                var city = '';
                if(data[0].type == '0'){
                    city = 'Settlement';
                }else if(data[0].type == '1'){
                    city = 'City';
                }
                else if(data[0].type == '2'){
                    city = 'LGA';
                }
                else if(data[0].type == '3'){
                    city = 'District';
                }
                else{
                    city = 'City';
                }
                $("#city").select2({
                    placeholder: "Select "+city,
                    allowClear: true, width : 230, dropdownAutoWidth : true
                });
                console.log('City ' + data);
                $.each(data, function() {
                    $('#city').append(new Option(this.cityname, this.city_id ));
                });
            });

        });

        // Jquery Validation Scripts
        $("#companyreg").validate({
            rules: {

                firstName: "required",
                lastName: "required",

                staff_range:{
                    required: true
                },
                username: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 6
                },
                passwordConfirmation: {
                    required: true,
                    minlength: 6,
                    equalTo: "#password"
                },
                companyname: {
                    required: true,
                    minlength: 2
                },
                email: {
                    required: true,
                    email: true
                },
                jobsector: {
                    required: true
                },
                country_id: {
                    required: true
                },
                region_id: {
                    required: true
                },
                city_id: {
                    required: true
                },
                companytype: {
                    required: true
                },
                mobile1: {
                    required: true
                },

                companytitle: {
                    required: true
                },

                agree: "required"
            },
            messages: {
                firstName: "Please enter your firstname",
                lastName: "Please enter your lastname",
                jobsector: "Please select a Business Sector",
                country_id: "Please select a country",
                region_id: "Please select a region/state",
                city_id: "Please select a city",
                companytype: "Please select company type",
                companytitle: "Please select company title",
                mobile1: "Please enter the mobile number",
                username: {
                    required: "Please enter a username",
                    minlength: "Your username must consist of at least 2 characters"
                },
                staff_range:{
                    required: "Please provide staff range(s)"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 6 characters long"
                },
                passwordConfirmation: {
                    required: "Please provide confirm password",
                    minlength: "Your password must be at least 6 characters long",
                    equalTo: "Please enter the same password as above"
                },
                companyname: {
                    required: "Please provide a Company Name",
                    minlength: "Your Company Name must be at least 2 characters long"
                },
                email: "Please enter a valid email address",
                agree: "Please accept our terms and conditions"
            },
            errorClass: "my-error-class",
            validClass: "my-valid-class"

        });

        function telInputField(phoneField, err_msg, valid_msg){
            var telInput = $(phoneField),
                    errorMsg = $(err_msg),
                    validMsg = $(valid_msg);

            // initialise plugin
            telInput.intlTelInput({
                utilsScript: "/build/js/utils.js"
            });

            // on blur: validate
            telInput.blur(function() {
                if ($.trim(telInput.val())) {
                    if (telInput.intlTelInput("isValidNumber")) {
                        validMsg.removeClass("hide");
                    } else {
                        telInput.addClass("error");
                        errorMsg.removeClass("hide");
                        validMsg.addClass("hide");
                    }
                }
            });

            // on keydown: reset
            telInput.keydown(function() {
                telInput.removeClass("error");
                errorMsg.addClass("hide");
                validMsg.addClass("hide");
            });
        }

        telInputField('#phone', '#phone-error-msg','#phone-valid-msg');
        telInputField('#phone2', '#phone2-error-msg','#phone2-valid-msg');
        telInputField('#mobile1', '#mobile1-error-msg','#mobile1-valid-msg');
        telInputField('#mobile2', '#mobile2-error-msg','#mobile2-valid-msg');

        function readURL(input) {
            console.log(input.files);
            console.log(input.files[0]);
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    console.log(e.target.result);
                    document.getElementById('blah').src=e.target.result
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function(){
            readURL(this);
        });

        $("#clear").click( function(){
            $("#blah").attr('src','/images/placeholder-logo.png');
        });
    });

</script>

<div class="row">
        <div class="col-md-9" >
            <div class="container-fluid" >
                <h3>REGISTRATION</h3>
                    <form role="form" action="/activejobfinder/web/users/company/register"  method="post" id="companyreg" class="cmxform">
                        <div class="well">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="firstName">First Name*</label>
                                    <input type="text" class="form-control input-sm" id="firstName" placeholder="First Name"  name="firstName">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="lastname">Last Name*</label>
                                    <input type="text" class="form-control input-sm" id="lastname" placeholder="Last Name"  name="lastName" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email Address*</label>
                                    <input type="email" class="form-control input-sm" id="email" placeholder="Email Address"  name="email">
                                </div>
                            </div>
                            <div class="col-md-5"  >
                                <div class="form-group" >
                                    <label class="control-label" for="username">Username*</label>
                                    <input type="text" class="form-control input-sm" id="username" placeholder="Username"  name="username">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="password">Password*</label>
                                    <input type="password" class="form-control input-sm" id="password" placeholder="Password"
                                           name="password">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="confirm_password">Confirm Password*</label>
                                    <input type="password" class="form-control input-sm" id="confirm_password" placeholder="Confirm Password"
                                           name="passwordConfirmation">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="companyname">Company Name*</label>
                                    <input type="text" class="form-control input-sm" id="companyname" placeholder="Company Name"  name="companyname">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="country">Country*</label>
                                    <br>
                                    <select name="country_id"     id="country" style="margin-bottom: 10px">
                                        <!--<option value="" disabled selected>Select Country</option>-->
                                        <option></option>
                                        <% countries.forEach(function (country) { %>
                                        <option value = "<%= country.country_id %>" ><%= country.countryname %></option>
                                        <% }); %>
                                    </select>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="entity">Entity*</label>
                                    <br>
                                    <select name="companytitle" id="companytitle"   style="margin-bottom: 10px">
                                        <option></option>
                                        <!--<option value="" disabled selected>Select Company Title</option>-->
                                        <option value = "Ltd" >Private company limited by shares</option>
                                        <option value = "Llp" >Limited liability partnership</option>
                                        <option value = "Llc" >Limited liability company </option>
                                        <option value = "Plc" >Public limited company</option>
                                        <option value = "S-Corp" >S corporation</option>
                                        <option value = "C-Corp" >C corporation</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="region">State / Region*</label>
                                    <br>
                                    <select name="region_id" id="region" style="margin-bottom: 10px">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="logo">Select Company Logo</label>
                                    <br>
                                    <!--<input type="file" id="logo" accept="image/*" placeholder="Company Logo" value="companylogo" name="logo_image">-->
                                    <img id="blah" src="/images/placeholder-logo.png" alt="your image" width="150px" height="150px" />
                                    <div style="font-size: 10px"> *  It is important for prospective job hunters or employees to know an accredited company</div>
                                    <!--<input type='file' class="btn btn-primary btn-sm" id="imgInp" accept="image/*" value="companylogo" name="logo_image"/>-->
                                    <a href="#" class="btn btn-primary btn-xs btn-sm" onclick="document.getElementById('imgInp').click(); return false;" />Select Image</a>
                                    <a id="clear" class="btn btn-primary btn-xs btn-sm" />Clear</a>
                                    <input type="file" class="btn btn-primary btn-sm" id="imgInp" accept="image/*" value="companylogo" name="logo_image" style="visibility: hidden;" />



                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="city">City*</label>
                                    <br>
                                    <select name="city_id" id="city" style="margin-bottom: 10px">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label" for="jobsector">Business Sector*</label>
                                        <br>
                                        <select name="jobsector" class="" id="jobsector" class="required" style="margin-bottom: 5px">
                                            <option></option>
                                            <% jobsectors.forEach(function (jobsector) { %>
                                            <option value = "<%= jobsector.jobsector_id %>" ><%= jobsector.businesssector %></option>
                                            <% }); %>
                                        </select>
                                        <!--Add tooltip-->
                                        <!--<button type="button"-->
                                                <!--class="btn btn-sm btn-danger"-->
                                                <!--data-toggle="popover"-->
                                                <!--title="Business Sector Warning!"-->
                                                <!--data-content="Business Sector cannot be changed once you registered. You have to make a requesition to Active Job Finder for ammending the Bussiness Sector. It may apply ammendment charges based on the policies.">-->
                                            <!--Check Business Sector Terms & Conditions-->
                                        <!--</button>-->

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-xs btn-sm btn-danger" data-toggle="modal" data-target="#myModal" style="margin-bottom: 10px">
                                            Check Business Sector Terms & Conditions
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Business Sector Warning!</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Business Sector cannot be changed once you registered.
                                                        You have to make a requesition to Active Job Finder for ammending the Bussiness Sector.
                                                        It may apply ammendment charges based on the policies.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Agree</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label"  >Address*</label>
                                        <input type="text" class="form-control input-sm" id="address" name="address1" placeholder="Address"   >
                                        <input type="text" class="form-control input-sm" id="address2" name="address2" placeholder="Street / Road Name"   >
                                        <input type="text" class="form-control input-sm" id="address3" name="address3" placeholder="Street / Road Name"   >
                                    </div>
                                </div>
                            </div>
                        <div class="row" >
                            <div class="col-md-5" >
                                <div class="form-group" >
                                    <label class="control-label" for="companytype">Company Type*</label>
                                    <br>
                                    <select name="companytype"  id="companytype" style="margin-bottom: 10px">
                                        <option></option>
                                            <option value = "agency" >Recruiter / Agency</option>
                                            <option value = "employer" >Direct Employer</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5" >
                                <div class="form-group" >
                                    <label class="control-label" for="phone">Telephone</label>
                                    <br>

                                    <input type="tel"   class="form-control input-sm" name="phone1" id="phone" placeholder="Phone 1" >
                                    <span id="phone-valid-msg" class="hide my-valid-class">✓ Valid</span>
                                    <span id="phone-error-msg" class="hide my-error-class">Invalid number</span>

                                    <input type="tel" class="form-control input-sm" name="phone2" id="phone2" placeholder="Phone 2"  >
                                    <span id="phone2-valid-msg" class="hide my-valid-class">✓ Valid</span>
                                    <span id="phone2-error-msg" class="hide my-error-class">Invalid number</span>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="site">Website</label>
                                    <input type="url" class="form-control input-sm" id="site" placeholder="Website" name="website">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label" for="mobile1"  >Mobile*</label>
                                    <br>
                                    <input type="text" class="form-control input-sm" id="mobile1" name="mobile1" placeholder="Mobile 1"  >
                                    <span id="mobile1-valid-msg" class="hide my-valid-class">✓ Valid</span>
                                    <span id="mobile1-error-msg" class="hide my-error-class">Invalid number</span>
                                    <input type="text" class="form-control input-sm" id="mobile2" name="mobile2" placeholder="Mobile 2" >
                                    <span id="mobile2-valid-msg" class="hide my-valid-class">✓ Valid</span>
                                    <span id="mobile2-error-msg" class="hide my-error-class">Invalid number</span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label class="control-label" for="staff" >Company Staff Range*</label>
                                <div class="radio" id="staff" >
                                    <label class="control-label" style="margin-right:10px"  >
                                        <input type="radio" name="staff_range" value="1-20" checked >
                                        1-20
                                    </label>
                                    <label class="control-label" style="margin-right:10px" >
                                        <input type="radio" name="staff_range" value="21-50"  checked  >
                                        21-50
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" name="staff_range" value="50+" checked  >
                                        50+
                                    </label>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="checkboxdiv" >
                            <label for="checkbox"><a href="/activejobfinder/web/termsandconditions">TERMS AND CONDITIONS</a></label>
                            <input type="checkbox" name="agree" id="checkbox"/>
                            <!---->
                            <!--<label class="control-label"  >-->
                                <!--<input type="checkbox" name="agree" >  <a href="/activejobfinder/web/termsandconditions"> TERMS AND CONDITIONS </a>-->
                            <!--</label>-->
                        </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-2 col-md-offset-8">
                                <button type="submit" name="commit" class="btn btn-primary btn-block" >REGISTER</button>
                            </div>
                            <div class="col-md-2">
                                <!--<button type="submit" class="btn btn-default btn-block">CANCEL</button>-->
                                <input type="reset" value="CANCEL" class="btn btn-default btn-block" >
                            </div>
                        </div>
                        <input type="hidden" name="type" value="3" />
                        <input type="hidden" name="active" value="active" />
                    </form>
        </div>
    </div>
<!--<div class="col-md-3 text-center">-->
    <!--<img src="/images/adPlaceholder.jpg" width="200"/>-->
    <!--<h3></h3>-->
    <!--<img src="/images/adPlaceholder.jpg" width="200"/>-->
    <!--<h3></h3>-->
    <!--<img src="/images/adPlaceholder.jpg" width="200"/>-->
    <!--<h3></h3>-->
    <!--<img src="/images/adPlaceholder.jpg" width="200"/>-->
<!--</div>-->
</div>