<% layout(layoutPath) -%>

<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
<script>
    $(document).ready(function() {


        $("#country").select2({placeholder: "Select Country",
            allowClear: true});
        $("#stafftor").select2({placeholder: "Select Business Sector",
            allowClear: true});
        $("#companytitle").select2({placeholder: "Select Company Title",
            allowClear: true});
        $("#companytype").select2({placeholder: "Select Company Type",
            allowClear: true});
        $("#e1").select2({placeholder: "Select Region/State",
            allowClear: true});
        $("#e2").select2({placeholder: "Select City",
            allowClear: true});

        // Select 2 Related Scripts
        $('#country').on('change', function() {

            var dataRegion = [{}];
//        $.getJSON('http://212.227.92.32:3000/activejobfinder/web/regions/'+$('#country').val(), function(data) {
            $.getJSON('http://localhost:3000/activejobfinder/web/regions/'+$(this).val(), function(data) {

                var stateOrRegion = '';
                if(data[0].type == '0'){
                    stateOrRegion = 'Region';
                }else if(data[0].type == '1'){
                    stateOrRegion = 'State';
                }
                else if(data[0].type == '2'){
                    stateOrRegion = 'Province';
                }
                else{
                    stateOrRegion = 'Region/State';
                }
                $("#e1").select2({
                    placeholder: "Select " + stateOrRegion ,
                    allowClear: true
                });
                $("#e2").select2({
                    placeholder: "Select City",
                    allowClear: true
                });

                console.log(data);

                for(var i=0; i < $.each("#e1").options.length; i++){
                    $('#e1').remove(i);
                }

                $.each(data, function() {
                    $('#e1').create(new Option(this.regionname, this.region_id ));
                });
            });
        });


        $('#e1').on('change', function() {
            console.log('region changed');
                $.getJSON('http://212.227.92.32:3000/activejobfinder/web/cities/'+$(this).val(), function(data) {

                var city = '';
                if(data[0].type == '0'){
                    city = 'Settlement';
                }else if(data[0].type == '1'){
                    city = 'City';
                }
                else if(data[0].type == '2'){
                    city = 'LGA';
                }
                else if(data[0].type == '3'){
                    city = 'District';
                }
                else{
                    city = 'City';
                }
                $("#e2").select2({
                    placeholder: "Select "+city,
                    allowClear: true
                });
                console.log(data);
                $.each(data, function() {
                    $('#e2').append(new Option(this.cityname, this.city_id ));
                });
            });

        });

        // Other Scripts
        var btns = ['btn-one', 'btn-two','btn-three'];
        var input = document.getElementById('staffRanges');
        for(var i = 0; i < btns.length; i++) {
            document.getElementById(btns[i]).addEventListener('click', function() {
                input.value = this.value;
            });
        }



        // Jquery Validation Scripts

        $("#companyreg").validate({
            rules: {

                firstName: "required",
                lastName: "required",

                staff_range:{
                    required: true
                },
                username: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 6
                },
                passwordConfirmation: {
                    required: true,
                    minlength: 6,
                    equalTo: "#password"
                },
                companyname: {
                    required: true,
                    minlength: 2,
                },
                email: {
                    required: true,
                    email: true
                },

                agree: "required"
            },
            messages: {
                firstName: "Please enter your firstname",
                lastName: "Please enter your lastname",
                username: {
                    required: "Please enter a username",
                    minlength: "Your username must consist of at least 2 characters"
                },
                staff_range:{
                    required: "Please provide staff range(s)"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 6 characters long"
                },
                passwordConfirmation: {
                    required: "Please provide confirm password",
                    minlength: "Your password must be at least 6 characters long",
                    equalTo: "Please enter the same password as above"
                },
                companyname: {
                    required: "Please provide a Company Name",
                    minlength: "Your Company Name must be at least 2 characters long"
                },
                email: "Please enter a valid email address",
                agree: "Please accept our terms and conditions"
            }
        });
    });
</script>

<form  action="/activejobfinder/web/users/company/register"  method="post" id="companyreg" class="cmxform">

    <!--<fieldset>-->

    <div class="row-fluid" >
    <div class="control-group span3 offset3" >

        <!--<div class="form-group">-->
            <!--<label>First Name:</label>-->
        <!--oninvalid="this.setCustomValidity('Please Enter First Name')"-->
            <input type="text" name="firstName" placeholder="First Name"   id="firstName" required title="Please Enter First Name" />
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Email Address:</label>-->
            <input type="email" name="email"  placeholder="Email Address" id="email"/>
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Password:</label>-->
            <input type="password" name="password"  placeholder="Password"  id="password"/>
        <!--</div>-->
        <br>
        <br>
        <br>


        <!--<label>Company Name:</label>-->
        <input type="text" name="companyname" placeholder="Company Name" id="companyname"/>

        <!--Put the Combo Box for Company Title-->
        <!--<label>Company Title:</label>-->
        <select name="companytitle" id="companytitle" class="required" style="width: 220px;margin-bottom: 10px">
            <option></option>
            <!--<option value="" disabled selected>Select Company Title</option>-->
            <option value = "Ltd" >Private company limited by shares</option>
            <option value = "Llp" >Limited liability partnership</option>
            <option value = "Llc" >Limited liability company </option>
            <option value = "Plc" >Public limited company</option>
            <option value = "S-Corp" >S corporation</option>
            <option value = "C-Corp" >C corporation</option>
        </select>

        <!--Put the Combo Box for Business Sector-->
        <!--<label>Business Sector:</label>-->


        <select name="jobsector_id" id="jobsector" style="width: 220px">
            <option></option>
            <!--<option value="" disabled selected>Select Business Sector</option>-->
            <% jobsectors.forEach(function (jobsector) { %>
            <option value = "<%= jobsector.jobsector_id %>" ><%= jobsector.businesssector %></option>
            <% }); %>
        </select>
        <label class="label label-important" style="margin-bottom: 10px">
           Note: Business Sector cannot be modified after sign up.
        </label>

        <!--<p id="hint_buss_sector"></p>-->

        <!--Put the Combo Box for -->
        <!--<label>Type:</label>-->
        <select name="type" id="companytype" style="width: 220px;margin-bottom: 10px" required title="Please Select Company Type">
            <option></option>
            <!--<option value="" disabled selected>Select Company Type</option>-->
            <option value = "agency" >Recruiter / Agency</option>
            <option value = "employer" >Direct Employer</option>
        </select>

        <!--<label>Website:</label>-->
        <input type="url" name="website" placeholder="Website"/>
        <br>
        <br>
        <label>Staff Ranges:</label>
        <input type="hidden" name="staff_range" value="" id="staffRanges"  />
        <div class="btn-group" data-toggle="buttons-radio" >
            <button id="btn-one" type="button" data-toggle="button" name="staff_range" value="1-20" class="btn">1-20</button>
            <button id="btn-two" type="button" data-toggle="button" name="staff_range" value="21-50" class="btn">21-50</button>
            <button id="btn-three" type="button" data-toggle="button" name="staff_range" value="50+" class="btn">50 above</button>
        </div>

        <br>
        <br>
        <br>
        <br>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="agree" value="" id="agree" aria-required="true" > <a href="/activejobfinder/web/termsandconditions">TERMS AND CONDITIONS</a>
            </label>
        </div>

    </div>
    <div class="control-group span3">
        <!--<label>Last Name:</label>-->
        <input type="text" name="lastName"  placeholder="Last Name" id="lastName"/>

        <!--<label>Username:</label>-->
        <input type="text" name="username"  placeholder="Username" id="username"/>
        <!--<label>Confirm Password:</label>-->
        <input type="password" name="passwordConfirmation"  placeholder="Confirm Password" id="confirm_password" required title="Please Enter Confirm Password" min="6"/>
        <br>
        <br>
        <br>

        <!--Put the Combo Box for Country-->
        <!--<label>Country:</label>-->
        <select name="country_id" class="required" id="country" style="width: 220px;margin-bottom: 10px">
            <!--<option value="" disabled selected>Select Country</option>-->
            <option></option>
            <% countries.forEach(function (country) { %>
            <option value = "<%= country.country_id %>" ><%= country.countryname %></option>
            <% }); %>
        </select>

        <!--<label>State / Region:</label>-->
        <select name="region_id" class="required" id="e1" style="width: 220px;margin-bottom: 10px">
            <option></option>
            <!--<option value = "null" >Select Region/State</option>-->
            <!--<% regions.forEach(function (region) { %>-->
            <!--<option value = "<%= region.region_id %>" ><%= region.regionname %></option>-->
            <!--<% }); %>-->
        </select>




        <!--Put the Combo Box for City-->
        <!--<label>City:</label>-->
        <select name="city_id" class="required" id="e2" style="width: 220px;margin-bottom: 10px">
            <option></option>
            <!--<option value = "null" >Select City</option>-->
            <!--<% cities.forEach(function (city) {  %>-->
            <!--<option value = "<%= city.city_id %>" ><%= city.cityname %></option>-->
            <!--<% }); %>-->
        </select>

        <!--<label>Address:</label>-->
        <input type="text" name="address1" placeholder="Address"  /><br>
        <input type="text" name="address2" placeholder="Street / Road Name" /><br>
        <input type="text" name="address3" placeholder="Street / Road Name" /><br>

        <br>
        <br>

        <!--<label>Telephone:</label>-->
        <input type="text" name="phone1"  class="required" placeholder="Phone Number 1"/>
        <input type="text" name="phone2"  placeholder="Phone Number 2"/>

        <br>
        <br>

        <!--<label>Mobile Phone:</label>-->
        <input type="text" name="mobile1"  placeholder="Mobile Number 1"/>
        <input type="text" name="mobile2"  placeholder="Mobile Number 2"/>

        <input type="hidden" name="type" value="3" />
        <input type="hidden" name="active" value="active" />

    </div>
    </div>
       <br>
        <!--<button class="btn">Register</button>-->

    <!--<input class="btn btn-primary" name="commit" type="submit"> REGISTER</input>-->
    <!--<a class="btn btn-primary btn-lg" href="/activejobfinder/web/company/login" role="button">LOGIN</a>-->
    <div>
        <button class="btn btn-primary" name="commit" type="submit">Sign Up</button>
    </div>

    <!--</fieldset>-->
</form>
</div>