/* CSS Document */

body{
	background:#f6f6f6;
	margin:0px;
	padding:0px;
	font-family: 'Open Sans', sans-serif;	
}

a{
	text-decoration:none;
	color:#000;	
}

a:hover{
	text-decoration:none;	
}

.content{
	margin:0px auto;	
}

.canvas{
	margin:40px auto;	
}

#header{
	position:fixed;
	top:0px;
	width:100%;
	height:65px;
	background-color:#fff;
	box-shadow:2px 2px 10px #ccc;
	font-size:15px;
	font-weight:600;
	z-index:1111;	
}

#footer{
	padding:20px 0px;
	width:100%;
	background-color:#fff;
	box-shadow:-2px -2px 10px #ccc;
	font-size:12px;
	font-weight:600;
	position:fixed;
	bottom:0px;	
}

#footer a{
	text-decoration:none;
	margin:10px 10px 10px 0px;	
}

#header a{
	margin-top:22px;
	display:block;
	float:left;
	margin-right:30px;	
}

#header a:hover{
	margin-top:22px;
	display:block;
	float:left;
	margin-right:30px;
	color:#072afc;
	text-decoration:none;	
}

.sec-title{
	font-size:22px;
	font-weight:600;
	margin:50px 0px;
	padding:0px 25px;
}

.form-area{
	padding:40px 10px;
	background-color:#fff;	
}

.form-area.row{
	margin:0px;	
}

.form-area .flabel{
	padding:5px;	
}

.form-area .finputxt{
	height:40px;
	border:2px solid #b7b7b7;
	width:100%;
	margin-bottom:5px;	
}

.form-area .finputxt-area{
	height:150px;
	border:2px solid #cecece;
	width:100%;
	margin-bottom:5px;	
}

.form-area .slctinput{
	width:100%;	
}

.form-area .finputxt.med{
	width:60%;	
}

.logoup-area{
	margin:20px 0px;	
}

.logoup-area.row{
	margin:0px;	
}

.logoup-area .thumb{
	width:80px;
	height:80px;
	background-color:#e1e1e1;	
}

.logoup-area .thumbinfo{
	margin-left:0px;
	font-size:14px;	
}

.logoup-area .btn-img{
	width:125px;
	height:25px;
	text-align:center;
	line-height:25px;
	display:block;
	color:#fff;
	background:#0054a6;
	margin-top:5px;	
}

.btn-sub{
	width:135px;
	height:35px;
	text-align:center;
	line-height:35px;
	display:block;
	color:#fff;
	background:#0054a6;
	margin:20px 0px;
	margin-right:10px;		
}

.btn-sub:hover{
	color:#fff;		
}

.btn-cancel{
	width:135px;
	height:35px;
	text-align:center;
	line-height:35px;
	display:block;
	color:#000;
	background:#d1d1d1;
	margin:20px 0px;	
}

.btn-cancel:hover{
	color:#000;		
}

.form-area .terms{
	margin:20px 0px;	
}
.form-area .terms a{
	color:#7fa6d0;
	text-decoration:underline;
}

.form-area .terms a{
	color:#7fa6d0;
	text-decoration:underline;
}

.form-area .ph-dd{
	height:30px;
	border:1px solid #cecece;	
}
.form-area .ph-dd input{
	padding:7px;
	height:20px;
	border:none;
	width:75%;
	box-shadow:none;
	margin-top:2px;
}

.form-area .ph-dd input:focus{
	background:none;
}
.form-area .ph-dd .flag{
	width:40px;
	padding:0px 5px;
	background:url(../img/icon_downarrow.png) no-repeat right 60%;
	display:block;	
}


.form-area .flag-dd{
	height:100px;
	width:40px;
	border:1px solid #eee;
	background:#fff;
	position:absolute;
	margin-top:-2px;
	margin-left:0px;
	padding:5px;
}

.ad-large{
	width:200px;
	height:280px;
	background:#c6c5c5;
	margin-bottom:30px;
}

.ad-mobile{
	height:100px;
	background:#c6c5c5;
	margin-bottom:30px;
}

.ad-vsmall{
	width:200px;
	height:130px;
	background:#c6c5c5;
	margin-bottom:30px;
}

.ad-small{
	width:200px;
	height:175px;
	background:#c6c5c5;
	margin-bottom:30px;
}

.ad-med{
	width:200px;
	height:225px;
	background:#c6c5c5;
	margin-bottom:30px;
}

input[type=radio] {  
    display: none;  
}
label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px;
	margin-left:0px;  
}    

label:before {  
    content: "";  
    display: inline-block;  
    width: 18px;  
    height: 18px;  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
	background:url(../img/bg_radio.png) no-repeat; 
} 

input[type=radio]:checked + label:before {  
    /*content: "\2022"; */   
    text-align: center;  
    line-height: 18px;
	background:url(../img/bg_radio_checked.png) no-repeat; 
}
input[type=checkbox] {  
    display: none; 
	 
} 
.checkbox label:before {  
    border-radius: 3px; 
	background:url(../img/bg_check.png) no-repeat; 
}  
input[type=checkbox]:checked + label:before {    
    font-size: 16px;  
    color: #f3f3f3;  
    text-align: center;  
    line-height: 16px;
	background:url(../img/bg_checked.png) no-repeat;  
}   

.clogo-area{
	background-color:#e1e1e1;	
}

.jd-cname{
	margin:5px 0px;	
}

.jd-btns{
	margin:20px 0px;	
}

/* override */

.row{
	margin-left:0px !important;
	margin-right:0px !important;	
}

.no-pad{
	padding:0px !important;	
}
.pad-left{
	padding:0px 0px 0px 10px !important;	
}

.intl-tel-input, .intl-tel-input input{
	width:100%;	
}

.jdetail-head{
	padding:40px 0px;	
}

.typo-detail-ctitle{
	font-size:28px;	
}

.typo-detail-jtitle{
	font-size:18px;	
}

.typo-detail-jtitle{
	font-size:18px;	
}

.typo-medl{
	font-size:22px;	
}

.typo-large{
	font-size:26px;	
}

.typo-large-blue{
	font-size:26px;
	color:#0054a6;	
}

.typo-small{
	font-size:14px;	
}

.typo-small-white{
	font-size:14px;
	color:#fff;	
}

.typo-Vsmall{
	font-size:12px;	
}

.typo-vsmall-gray{
	font-size:11px;
	color:#9b9b9b;	
}

.jdesc{
	padding:20px;
	background-color:#fff;	
}

.jdesc .param{
	padding:10px 0px;	
}
.btn-blue.login{
	width:100%;
	height:45px;
	text-align:center;
	line-height:45px;
	display:block;
	color:#fff;
	background:#0054a6;
	margin-top:200px;		
}

.btn-sub.login:hover{
	color:#fff;		
}

.btn-blue{
	width:135px;
	height:35px;
	text-align:center;
	line-height:35px;
	display:block;
	color:#fff;
	background:#0054a6;		
}

.btn-blue.nsearch{
	margin-top:130px;		
}

.btn-sub:hover, .btn-blue:hover{
	color:#fff;		
}

.btn-gray{
	width:135px;
	height:35px;
	text-align:center;
	line-height:35px;
	display:block;
	color:#000;
	background:#d1d1d1;	
}

.btn-cancel:hover{
	color:#000;		
}

.btn-gray.ajlist{
	width:80px;
	height:25px;
	line-height:25px;
	margin:5px;
	font-size:12px;	
}

.btn-gray.attach{
	width:135px;
	height:35px;
	line-height:35px;
	margin-right:5px;
	font-size:12px;	
}

.btn-gray.ajlist-repost{
	width:120px;
	height:25px;
	line-height:25px;
	margin:0px;
	font-size:12px;	
}

.btn-gray.ajlist-xs{
	width:80px;
	height:25px;
	line-height:25px;
	margin:5px 5px 5px 0px;
	font-size:12px;
	float:left;	
}


.db-btn-post{
	margin-bottom:10px;	
}

.aj-head{
	padding:10px 0px;
	background-color:#0054a6;	
}

.aj-tr{
	padding:10px 0px;
	border-bottom:1px solid #d1d1d1;	
}

.aj-paginate{
	padding:10px 0px;
	float:right;	
}

.aj-paginate .count{
	padding:5px;
	font-size:11px;
	display:block;
	float:left;	
}

.aj-paginate .nxtprev{
	padding:0px 5px 5px 5px;
	display:block;
	background-color:#0054a6;
	float:left;
}

.new-tag{
	padding:5px 10px;
	background:#a3d39c;
	font-size:11px;
	display:block;
	border-radius:4px;
	text-align:center;	
}

.home-banner{
	height:400px;
	background: url(../img/bg_banner.png) no-repeat center;
	margin-bottom:30px;
	margin-top:25px;	
}
.home-banner .social{
	margin-top:250px;	
}



.home-search{
	padding:20px;
	background-color:#fff;
	margin:30px 0px;	
}

.home-search .form-row{
	margin:10px 0px;	
}

.home-search input[type="text"]{
	width:100%;
	border:2px #b7b7b7 solid;
	padding:5px;
	height:35px;
	margin-bottom:10px;	
}


.home-search .styled-select select {
   background: transparent;
   width: 120%;
   font-size: 14px;
   border: 0;
   border-radius: 0;
   height: 38px;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.home-search .styled-select {
   width: 100%;
   height:38px;
   overflow: hidden;
   background: url(../img/bg_select_home.png) no-repeat right #fff;
   border: 2px solid #b7b7b7;
   padding-right:35px;
   margin-bottom:10px;
}

.home-search .btn-search{
    width:100%;
	height:40px;
	text-align:center;
	line-height:40px;
	display:block;
	color:#fff;
	background:#0054a6;	
}



.home-btnjob{
    width:90%;
	height:35px;
	text-align:center;
	line-height:35px;
	display:block;
	color:#fff;
	background:#0054a6;
	margin:0px auto;	
}

.home-title{
	border-top:1px solid #e1e1e1;
	padding:30px 0px;	
}

.home-joblist {
	margin:30px 0px;
}

.home-joblist .panels{
	padding:20px;
	background:#fff;
	margin-bottom:10px;
}

.home-joblist .panels .jobtitle{
	margin:20px 0px;
}










.ajf-dd__select{
    font-size: inherit; /* inherit size from .ajf-dd */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
	width:100%;
}

.ajf-dd__select--white {
    background-color:#fff;
    color: #444; 
	border:2px solid #b7b7b7;   
}


@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .ajf-dd {
        position: relative;
        display: inline-block;
        vertical-align: middle;
		width:100%;
		height:40px;
		margin-bottom:10px;
    }

    .ajf-dd__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border:2px solid #b7b7b7 !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;   
    }

    .ajf-dd::before,
    .ajf-dd::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .ajf-dd::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .ajf-dd::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .ajf-dd__select[disabled] {
        color:#fff;;
    }

    .ajf-dd.ajf-dd--disabled::after {
        color:#fff;
    }

    /* White dropdown style */
    .ajf-dd--white::before {
        background-color:#b7b7b7;
    }

    .ajf-dd--white::after {
        color:#fff;;
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .ajf-dd__select             { padding-right: .9em }
        .ajf-dd--large .ajf-dd__select { padding-right: 1.3em }
        .ajf-dd--small .ajf-dd__select { padding-right: .5em }
    }
}


@media (max-width: 767px){
	.home-stitle{
		margin-top:50px;	
	}
	
	.home-joblist {
		margin-bottom:100px;
	}
	
	.jd-btns{
		margin:20px 0px;
		margin-bottom:60px;	
	}
	
	.jpost-right{
		padding:0px;
	}
	
	.pad-left{
		padding:0px 0px 0px 0px !important;	
	}
}


/* overrides */

.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image:         linear-gradient(to bottom, #fff 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  font-size:14px;
  font-weight:600;
}


.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #eee 0%, #eee 100%);
  background-image:      -o-linear-gradient(top, #eee 0%, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#eeeeee));
  background-image:         linear-gradient(to bottom, #eee 0%, #eee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#eee', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .00);
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, .00);
}