<% layout(layoutPath) -%>
<h1>Account Page</h1>
<form action="/activejobfinder/web/companies/account" method="post">
  <fieldset>
      <label>Company ID:</label>
      <input type="text" class= "uneditable-input" name="country_id" value="<%= country.country_id %>"/>
      <label>Company Name:</label>
      <input type="text" name="countryname" value="<%= country.countryname %>"/><br/>
    <button class="btn">Register</button>
  </fieldset>
</form>
