<% layout(layoutPath) -%>

<a href="/activejobfinder/web/jobs/register/1" class="btn btn-primary">
    <i class="entypo-plus"></i>
    Add New
</a>
<br>
<br>

<div align="center" class="inputContainer">
    <table align="center" class="table table-bordered table-hover">
    <thead>
    <tr>
        <!--<th>#</th>-->
        <th align="center">Company Name</th>
        <th align="center">Entity</th>
        <th align="center">Company Logo</th>
        <th align="center">Staff Range</th>
        <th align="center">Telephone</th>
        <th align="center">Mobile</th>
        <th align="center">Address</th>
        <th align="center">Country</th>
        <th align="center">Region</th>
        <th align="center">City</th>
        <th align="center">Website</th>
        <th align="center">Activation</th>
    </tr>
    </thead>
    <tbody>
    <% var count=1; for(var i=0; i<jobs.length; i++) {%>
    <tr>
        <td align="center"><%= jobs[i].companyname %></td>
        <td align="center" ><%= jobs[i].companytitle %></td>
        <td align="center"><img src="<%= jobs[i].logo_image %>"></td>
        <td align="center" ><%= jobs[i].staff_range %></td>
        <td align="center"><%= jobs[i].phone1 %>, <%= jobs[i].phone2 %></td>
        <td align="center" ><%= jobs[i].mobile1 %>, <%= jobs[i].mobile2 %></td>
        <td align="center"><%= jobs[i].address1 %>, <%= jobs[i].address2 %>, <%= jobs[i].address3 %></td>
        <td align="center" ><%= jobs[i].country_id %></td>
        <td align="center"><%= jobs[i].region_id %></td>
        <td align="center" ><%= jobs[i].city_id %></td>
        <td align="center"><%= jobs[i].website %></td>
        <td align="center" ><%= jobs[i].active %></td>
    </tr>
    <% } %>
    </tbody>
</table>
    </div>