<% layout(layoutPath) -%>
<style>
    .my-error-class {
        color:red;/*#FF0000;  /* red */
    }
    .my-valid-class {
        color:green;/*#00CC00; /* green */
    }
    #errorContainer {
        display: none;
        overflow: auto;
        background-color: #FFDDDD;
        border: 1px solid #FF2323;
        padding-top: 0;
    }

    #errorContainer label {
        float: none;
        width: auto;
    }

    input.error {
        border: 1px solid #FF2323;
    }
</style>

<script type="text/javascript">


    $( document ).ready(function() {

        $("#duration").select2({placeholder: "Select Job Post duration",
            allowClear: true, width : '100%', dropdownAutoWidth : true,minimumResultsForSearch: -1});
        $("#salary_currency_id").select2({placeholder: "Select Currency",
            allowClear: true, width : '100%', dropdownAutoWidth : true,minimumResultsForSearch: -1});

//        Jquery Validation Scripts
        $("#jobpost").validate({
            ignore: [],
            rules: {

                title: "required",
                description: "required",
                salary_currency_id: {
                    required: true
                },
                salary_low:{
                    required: true
                },
                salary_high:{
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                jobtype_id: {
                    required: true
                },
                location: {
                    required: true
                },
                experience: {
                    required: true
                }
            },
            messages: {

                title: "Please enter job title",
                description: "Please enter job description",
                jobtype_id: "Please enter your lastname",
                salary_currency_id: "Please select a currency",
                salary_low: "Please enter low salary",
                salary_high: "Please enter high salary",
                location: "Please enter job location",
                email: "Please enter a valid email address",
            },
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            errorContainer: $('#errorContainer'),
            errorLabelContainer: $('#errorContainer ul'),
            wrapper: 'li'
        });

    });

</script>
<div class="row">
    <div class="col-md-9" >
        <div class="container-fluid" >
            <h3>JOB POST</h3>
            <div id="errorContainer">
                <p>Please correct the following errors and try again:</p>
                <ul />
            </div>
            <form role="form" action="/activejobfinder/web/jobs/register" method="post" id="jobpost" class="cmxform"
                  enctype="multipart/form-data">
                <div class="well">
                    <!--************************** 1st Row ****************************-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="firstName">Job Title*</label>
                                <input type="text" class="form-control input-sm" id="title" placeholder="Job Title"  name="title" value="<%=  jobs.title || ""%>" >
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <!--************************** 2nd Row ****************************-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="message">Message*</label>
                                <textarea type="text" class="form-control" rows="5" id="description" placeholder="Job Description"  name="description" value="<%=  jobs.description || ""%>" ></textarea>
                            </div>
                        </div>
                        <div class="col-md-6"  >

                        </div>
                    </div>
                    <!--************************** 3rd Row ****************************-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <% jobtypes.forEach(function (jobtype) { %>
                                <label class="control-label" style="margin-right:10px"  >
                                    <input type="radio" name="jobtype_id" value="<%= jobtype.jobtype_id %>"  <%= (jobs.jobtype_id != null) && (jobtype.jobtype_id == jobs.jobtype_id) ? 'checked = "checked"' : ''%>  >
                                    <%= jobtype.description%>
                                </label>
                                <% }); %>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <!--************************** 4rth Row ****************************-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="salary_low">Salary Expectation*</label>
                                <input type="text" class="form-control input-sm" id="salary_low" placeholder="Low"  name="salary_low" value="<%=  jobs.salary_low || ""%>">
                                TO
                                <input type="text" class="form-control input-sm" id="salary_high" placeholder="High"  name="salary_high" value="<%=  jobs.salary_high || ""%>">
                                <select name="salary_currency_id"     id="salary_currency_id" >
                                    <option></option>
                                    <% currencies.forEach(function (currency) { %>
                                    <option value = "<%= currency.currency_id %>" <%= (jobs.salary_currency_id  != null) && (jobs.salary_currency_id  == currency.currency_id ) ? 'selected = "selected"' : ''%>><%= currency.currencyname %> </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--************************** 5th Row ****************************-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="email">Email Address* (address to recieve applicant CV)</label>
                                <input type="email" class="form-control input-sm" id="email" placeholder="Email Address"  name="email" value="<%=  jobs.email || ""%>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                    <!--************************** 6th Row ****************************-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="location">Job Location*</label>
                                <input type="text" class="form-control input-sm" id="location" placeholder="Job Location"  name="location" value="<%=  jobs.location || ""%>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>

                        </div>
                    </div>
                    <!--************************** 7th Row ****************************-->
                    <div class="row">
                        <div class="col-md-6" id="countrydiv">
                            <div class="form-group">

                                <label class="control-label"  >Minimum Years Experience*</label>
                                <input type="number" class="form-control input-sm" id="experience" name="experience" placeholder="Min. Experience"  value="<%=  jobs.experience || ""%>"  >

                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group" >

                            </div>
                        </div>
                    </div>
                    <!--************************** 9th Row ****************************-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="duration">Job Posting Duration*</label>
                                <br>
                                <select name="duration" id="duration"   style="margin-bottom: 10px">
                                    <option></option>

                                    <option value = "1" <%= (jobpost.duration != null) && ('1'== jobpost.duration ) ? 'selected = "selected"' : ''%> >One Week</option>
                                    <option value = "2" <%= (jobpost.duration  != null) && ('2'== jobpost.duration ) ? 'selected = "selected"' : ''%>>Two Weeks</option>
                                    <option value = "3" <%= (jobpost.duration  != null) && ('3'== jobpost.duration ) ? 'selected = "selected"' : ''%>>Three Weeks</option>
                                    <option value = "4" <%= (jobpost.duration  != null) && ('4'== jobpost.duration ) ? 'selected = "selected"' : ''%>>Four Weeks</option>
                                    <option value = "5" <%= (jobpost.duration  != null) && ('5'== jobpost.duration ) ? 'selected = "selected"' : ''%>>One Month</option>
                                    <option value = "6" <%= (jobpost.duration  != null) && ('6'== jobpost.duration ) ? 'selected = "selected"' : ''%>>Two Months</option>


                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>

                    </div>

                <!--************************** 11th Row ****************************-->

                <div class="row">
                    <div class=" col-md-2 col-md-offset-8">
                        <button type="submit" name="commit" class="btn btn-primary btn-block" >PUBLISH</button>
                    </div>
                    <div class="col-md-2">
                        <!--<button type="submit" class="btn btn-default btn-block">CANCEL</button>-->
                        <!--<input type="reset" value="CANCEL" class="btn btn-default btn-block" >-->
                        <a href="/" type="button" class="btn btn-default btn-block">CANCEL</a>
                    </div>
                </div>
                <input type="hidden" name="type" value="3" />
                <input type="hidden" name="active" value="active" />
            </form>
        </div>
    </div>
</div>