<% layout(layoutPath) -%>
<img class="displayed" src="/images/images.png" alt="Active Job Finder" width="241px"/>
<p class="blocktext"><i>  A place with life altering career </i></p>
<h1>Welcome to your dashboard, <%= user.firstName %>. <h1>