<% layout(layoutPath) -%>


<form action="/activejobfinder/web/users/company/account" method="post">

  <fieldset>
      <label>First Name:</label>
      <input type="text" name="firstName"  value="<%= user.firstName %>"/>
      <label>Last Name:</label>
      <input type="text" name="lastName"  value="<%= user.lastName %>"/>
      <label>Email Address:</label>
      <input type="email" name="email" value="<%= user.email %>"/>
      <label>Phone No.:</label>
      <input type="text" name="phone" value="<%= user.phone %>"/>
      <label>User Type:</label>
      <select name="type" >
          <option value="3" selected="selected">Company</option>
      </select>

      <!--<label>Activation:</label>-->
      <!--<select name="activation">-->
          <!--<option value="activate">Activate</option>-->
          <!--<option value="deactivate">Deactivate</option>-->
      <!--</select>-->

      <label>Company Name:</label>
      <input type="text" name="companyname" value="<%= user.firstName %>"/>

      <!--Put the Combo Box for City-->
      <label>City:</label>
      <select name="city_id">
          <% cities.forEach(function (city) { %>
          <option value = "<%= city.city_id %>" ><%= city.cityname %></option>
          <% }); %>
      </select>

      <!--Put the Combo Box for Company Title-->
      <label>Company Title:</label>
      <select name="companytitle">
          <option value = "Ltd" >Private company limited by shares</option>
          <option value = "Llp" >Limited liability partnership</option>
          <option value = "Llc" >Limited liability company </option>
          <option value = "Plc" >Public limited company</option>
          <option value = "S-Corp" >S corporation</option>
          <option value = "C-Corp" >C corporation</option>
      </select>

      <label>Address:</label>
      <!--<input type="text" name="address"/>-->
      <textarea rows="3" name="address" type="text" value="<%= user.firstName %>"/>

      <!--Put the Combo Box for Business Sector-->
      <label>Business Sector:</label>
      <select name="jobsector_id">
          <% jobsectors.forEach(function (jobsector) { %>
          <option value = "<%= jobsector.jobsector_id %>" ><%= jobsector.businesssector %></option>
          <% }); %>
      </select>


      <label>Staff Ranges:</label>
      <input type="hidden" name="staff_range" value="" id="btn-input" />
      <div class="btn-group" data-toggle="buttons-radio">
          <button id="btn-one" type="button" data-toggle="button" name="staff_range" value="1-20" class="btn">1-20</button>
          <button id="btn-two" type="button" data-toggle="button" name="staff_range" value="21-50" class="btn">21-50</button>
          <button id="btn-three" type="button" data-toggle="button" name="staff_range" value="50+" class="btn">50 above</button>
      </div>

      <script>
          var btns = ['btn-one', 'btn-two','btn-three'];
          var input = document.getElementById('btn-input');
          for(var i = 0; i < btns.length; i++) {
              document.getElementById(btns[i]).addEventListener('click', function() {
                  input.value = this.value;
              });
          }
      </script>

      <label>Username:</label>
      <input type="text" name="username" value="<%= user.firstName %>"/>
      <label>New Password:</label>
      <input type="password" name="password"/>
      <label>Retype New Password:</label>
      <input type="password" name="passwordConfirmation"/><br>
    <button class="btn">Update</button>
  </fieldset>
</form>
