<% layout(layoutPath) -%>


<a href="/activejobfinder/web/users/new" class="btn btn-primary">
<i class="entypo-plus"></i>
Add New
</a>
<br>
<br>

<div align="center" class="inputContainer">
    <!--<table align="center" border="1px" width="400px">-->
    <table align="center" class="table table-bordered table-hover">

    <thead>
        <tr>
            <!--<th>#</th>-->
            <th align="center">Username</th>
            <th align="center">Password</th>
            <th align="center">First Name</th>
            <th align="center">Last Name</th>
            <th align="center">Email</th>
            <th align="center">User Type</th>
            <th align="center">Activation</th>
            <th align="center">Company</th>
        </tr>
        </thead>
        <tbody>
        <%  for(var i=0; i<users.length; i++) {%>
        <tr>
            <td align="center"><%= users[i].username %></td>
            <td align="center" >**Encrypted**</td>
            <td align="center"><%= users[i].firstName %></td>
            <td align="center" ><%= users[i].lastName %></td>
            <td align="center"><%= users[i].email %></td>
            <td align="center" ><%= users[i].type %></td>
            <td align="center"><%= users[i].activation %></td>
            <td align="center" ><%= users[i].company_id %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>