<% layout(layoutPath) -%>


<form action="/activejobfinder/web/users/register" method="post">


  <fieldset>
      <label>First Name:</label>
      <input type="text" name="firstName">
      <label>Last Name:</label>
      <input type="text" name="lastName"/>
      <label>Email Address:</label>
      <input type="email" name="email"/>
      <label>Phone No.:</label>
      <input type="text" name="phone"/>
      <label>User Type:</label>
      <select name="type">
          <option value="1">Admin</option>
          <option value="2">Blogger</option>
          <option value="3">Company</option>
      </select>
      <label>Activation:</label>
      <select name="activation">
          <option value="activate">Activate</option>
          <option value="deactivate">Deactivate</option>
      </select>
      <label>Address:</label>
      <!--<input type="text" name="address"/>-->
      <textarea rows="3" name="address" type="text" ></textarea>

      <!--Put the Combo Box for City-->
      <label>City:</label>
      <select name="city_id">
          <% cities.forEach(function (city) { %>
          <option value = "<%= city.city_id %>" ><%= city.cityname %></option>
          <% }); %>
      </select>
      <!--Put the Combo Box for Business Sector-->
      <label>Business Sector:</label>
      <select name="jobsector_id">
          <% jobsectors.forEach(function (jobsector) { %>
          <option value = "<%= jobsector.jobsector_id %>" ><%= jobsector.businesssector %></option>
          <% }); %>
      </select>

      <label>Username:</label>
      <input type="text" name="username" />
      <label>New Password:</label>
      <input type="password" name="password"/>
      <label>Retype New Password:</label>
      <input type="password" name="passwordConfirmation"/><br>
    <button class="btn">Register</button>
  </fieldset>
</form>
