<% layout(layoutPath) -%>


<form action="/activejobfinder/web/users/register" method="post">
  <fieldset>
      <label>First Name:</label>
      <input type="text" name="firstName">
      <label>Last Name:</label>
      <input type="text" name="lastName"/>
      <label>Email Address:</label>
      <input type="email" name="email"/>
      <!--<label>User Type:</label>-->
      <!--<select name="type">-->
          <!--<option value="1" selected="selected">Admin</option>-->
      <!--</select>-->
      <input type="hidden" name="type" value="1" />
      <label>Activation:</label>
      <select name="active">
      <option value="active">Activate</option>
      <option value="deactive">Deactivate</option>
      </select>
      <label>Username:</label>
      <input type="text" name="username" />
      <label>New Password:</label>
      <input type="password" name="password"/>
      <label>Retype New Password:</label>
      <input type="password" name="passwordConfirmation"/><br>
    <button class="btn btn-primary" name="commit">Register</button>
  </fieldset>
</form>
