<% layout(layoutPath) -%>


<a href="/activejobfinder/web/jobsectors/register" class="btn btn-primary">
    <i class="entypo-plus"></i>
    Add New
</a>
<br>
<br>

<div align="center" class="inputContainer">
    <table align="center" class="table table-bordered table-hover">
    <thead>
    <tr>
        <!--<th>#</th>-->
        <th align="center">Business Sector</th>
        <th align="center">Job Band</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<jobsectors.length; i++) {%>
    <tr>
        <td align="center"><%= jobsectors[i].businesssector %></td>
        <td align="center" ><%= jobsectors[i].jobbandname %></td>
    </tr>
    <% } %>
    </tbody>
</table>
    </div>