<% layout(layoutPath) -%>
<form action="/activejobfinder/web/jobsectors/register" method="post">
    <fieldset>
        <label>Job Sector Name:</label>
        <input type="text" name="businesssector" value="<%= jobsector.businesssector || "" %>" />
        <label>Job Band:</label>
        <select name="jobband_id">
            <% jobbands.forEach(function (jobband) { %>
            <option value = "<%= jobband.jobband_id %>" <%= (jobsector.jobband_id != null) && (jobsector.jobband_id == jobband.jobband_id) ? 'selected = "selected"' : ''%>><%= jobband.jobbandname %></option>
            <% }); %>
        </select>

         <br/>
        <button class="btn">Save</button>
    </fieldset>
</form>
