<% layout(layoutPath) -%>

<div align="center" class="inputContainer">
    <table align="center" class="table table-bordered table-hover">
        <thead>
        <tr>
            <!--<th>#</th>-->
            <th align="center">Business Name</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < businesses.length; i++) { %>
        <tr>
            <td align="center"><%= businesses[i].businessname %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>