<% layout(layoutPath) -%>
<form action="/activejobfinder/web/businesses/register" method="post">
    <fieldset> 
        <label>Business Name:</label>
        <input type="text" name="businessname" />
        <br/>
        <button class="btn">Save</button>
    </fieldset>
</form>
