<% layout(layoutPath) -%>
<form action="/activejobfinder/web/regions/account" method="post">
    <fieldset>
        <label>Region Name:</label>
        <input type="text" name="regionname" value="<%= region.regionname %>" />
        <input type="hidden"  name="region_id" value="<%= region.region_id %>" />

        <!--// Settlement(0)/Region(1)/Lga(2)/District(3)-->
        <label>Region Type:</label>
        <select name="type">
            <option value="0" <%= (region.type != null) && ('0'== region.type) ? 'selected = "selected"' : ''%> >Region</option>
            <option value="1" <%= (region.type != null) && ('1'== region.type) ? 'selected = "selected"' : ''%>>State</option>
            <option value="2" <%= (region.type != null) && ('2'== region.type) ? 'selected = "selected"' : ''%>>Province</option>
        </select>

        <label>Country:</label>
        <select name="country_id">
            <% countries.forEach(function (country) { %>
            <option value = "<%= country.country_id %>" <%= (region.country_id != null) && (country.country_id == region.country_id) ? 'selected = "selected"' : ''%>><%= country.countryname %></option>
            <% }); %>
        </select>

        <br/>
        <button class="btn btn-primary">Update</button>
    </fieldset>
</form>
