<% layout(layoutPath) -%>
<form action="/activejobfinder/web/regions/register" method="post">
    <fieldset>
        <label>Region Name:</label>
        <input type="text" name="regionname" />

        <label>Region Type:</label>
        <select name="type">
            <option value="0">Region</option>
            <option value="1">State</option>
            <option value="2">Province</option>
            <option value="3">District</option>
        </select>

        <label>Country:</label>
        <select name="country_id">
            <% countries.forEach(function (country) { %>
            <option value = "<%= country.country_id %>" ><%= country.countryname.toUpperCase() %></option>
            <% }); %>
        </select>

        <br/>
        <button class="btn">Save</button>
    </fieldset>
</form>
